<div class="card">

    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label>ตำแหน่ง</label>
                    <select class="form-control" ng-model="criteria.position">
                        <option value="" disabled selected>กรุณาเลือก</option>
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                        
                        </select>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>สังกัด</label>
                    <select class="form-control" ng-model="criteria.affiliation">
                        <option value="" disabled selected>กรุณาเลือก</option>
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                        
                        </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="text-right">
            <button class="btn btn-lg btn-outline-primary" ng-click="search()">
                <i class="fa fa-search"></i> ค้นหา
            </button>
        </div>
    </div>
</div>