<li class="nav-header text-light">Eziiwork</li>

<li class="nav-item">
    <a th:href="@{/views/workspace/eziiwork/dashboard}" class="nav-link"> 
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>แดชบอร์ด</p>
    </a>
</li>

<li class="nav-item has-treeview">
    <a href="#"	class="nav-link"> 
        <i class="nav-icon fas fa-folder-open text-warning"></i>
        <p>
            โครงสร้างองค์กร <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="./index.html" class="nav-link"> 
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>บริษัท</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index2.html" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>หน่วยงาน</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index3.html" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ตำแหน่งงาน</p>
            </a>
        </li>
    </ul>
</li>

<li class="nav-item has-treeview">
    <a href="#"	class="nav-link"> 
        <i class="nav-icon fas fa-folder-open text-warning"></i>
        <p>
            ข้อมูลการพนักงาน <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="./index.html" class="nav-link"> 
                <i class="far fa-circle nav-icon"></i>
                <p>บัญชีผู้ใช้</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index2.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>ข้อมูลส่วนบุคคล</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index3.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>ประวัติการศึกษา</p>
            </a>
        </li>
    </ul>
</li>

<li class="nav-item has-treeview">
    <a href="#"	class="nav-link"> 
        <i class="nav-icon fas fa-folder-open text-warning"></i>
        <p>
            บันทึกเวลาเข้า-ออกงาน <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="./index.html" class="nav-link"> 
                <i class="far fa-circle nav-icon"></i>
                <p>ประเภทเวลาเข้างาน</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index2.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>กะเข้า-ออกงาน</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index3.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>รายงานบันทึกเข้า-ออกงาน</p>
            </a>
        </li>
    </ul>
</li>

<li class="nav-item has-treeview">
    <a href="#"	class="nav-link"> 
        <i class="nav-icon fas fa-folder-open text-warning"></i>
        <p>
            ลางาน <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="./index.html" class="nav-link"> 
                <i class="far fa-circle nav-icon"></i>
                <p>ประเภทการลา</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index2.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>ขอลางาน</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index3.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>รายงานการลางาน</p>
            </a>
        </li>
    </ul>
</li>

<li class="nav-item has-treeview">
    <a href="#"	class="nav-link"> 
        <i class="nav-icon fas fa-folder-open text-warning"></i>
        <p>
            เงินเดือน <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="./index.html" class="nav-link"> 
                <i class="far fa-circle nav-icon"></i>
                <p>ประเภทการจ้างงาน</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index2.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>ข้อมูลเงินเดือน</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="./index3.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>รายงานการจ่ายเงินเดือน</p>
            </a>
        </li>
    </ul>
</li>