<li class="nav-header text-light">90% First Jobber</li>


<li class="nav-item">
    <a id="firstjobber-dashboard-menuItem" th:href="@{/views/workspace/firstjobber/dashboard}" class="nav-link"> 
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>แดชบอร์ด</p>
    </a>
</li>


<!-- ****************************** Database ****************************** -->
<li id="firstjobber-database-menuDropdown" class="nav-item has-treeview">
    <a href="#"	class="nav-link"> 
        <i class="nav-icon fas fa-folder-open text-warning"></i>
        <p>
            ฐานข้อมูล <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a id="firstjobber-database-dashboard-menuItem" th:href="@{/views/workspace/firstjobber/database/dashboard}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>แดชบอร์ด</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-database-jobCategory-menuItem" th:href="@{/views/workspace/firstjobber/database/job-category}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ประเภทตำแหน่งงาน</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-database-job-menuItem" th:href="@{/views/workspace/firstjobber/database/job}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ตำแหน่งงาน</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-database-skillCategory-menuItem" th:href="@{/views/workspace/firstjobber/database/skill-category}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ประเภททักษะ</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-database-skill-menuItem" th:href="@{/views/workspace/firstjobber/database/skill}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ทักษะ</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-database-testCategory-menuItem" th:href="@{/views/workspace/firstjobber/database/test-category}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ประเภทแบบทดสอบ</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-database-test-menuItem" th:href="@{/views/workspace/firstjobber/database/test}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>แบบทดสอบ</p>
            </a>
        </li>
    </ul>
</li>
<!-- ****************************** Database ****************************** -->


<!-- ****************************** Internship ****************************** -->
<li id="firstjobber-internship-menuDropdown" class="nav-item has-treeview">
    <a href="#"	class="nav-link"> 
        <i class="nav-icon fas fa-folder-open text-warning"></i>
        <p>
            นักศึกษาฝึกงาน <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a id="firstjobber-internship-dashboard-menuItem" th:href="@{/views/workspace/firstjobber/internship/dashboard}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>แดชบอร์ด</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-internship-newRegistration-menuItem" th:href="@{/views/workspace/firstjobber/internship/new-registration}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ลงทะเบียนใหม่</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-internship-profile-menuItem" th:href="@{/views/workspace/firstjobber/internship/profile}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>โปรไฟล์</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-internship-skill-menuItem" th:href="@{/views/workspace/firstjobber/internship/skill}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ทักษะ</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-internship-test-menuItem" th:href="@{/views/workspace/firstjobber/internship/test}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>แบบทดสอบ</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-internship-evaluate-menuItem" th:href="@{/views/workspace/firstjobber/internship/evaluate}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ประเมิน</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-internship-internHistory-menuItem" th:href="@{/views/workspace/firstjobber/internship/intern-history}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ประวัติการฝึกงาน</p>
            </a>
        </li>
    </ul>
</li>
<!-- ****************************** Internship ****************************** -->


<!-- ****************************** Freelance ****************************** -->
<li id="firstjobber-freelance-menuDropdown" class="nav-item has-treeview">
    <a href="#"	class="nav-link"> 
        <i class="nav-icon fas fa-folder-open text-warning"></i>
        <p>
            ฟรีแลนซ์ <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a id="firstjobber-freelance-dashboard-menuItem" th:href="@{/views/workspace/firstjobber/freelance/dashboard}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>แดชบอร์ด</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-freelance-newRegistration-menuItem" th:href="@{/views/workspace/firstjobber/freelance/new-registration}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ลงทะเบียนใหม่</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-freelance-profile-menuItem" th:href="@{/views/workspace/firstjobber/freelance/profile}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>โปรไฟล์</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-freelance-skill-menuItem" th:href="@{/views/workspace/firstjobber/freelance/skill}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ทักษะ</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-freelance-test-menuItem" th:href="@{/views/workspace/firstjobber/freelance/test}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>แบบทดสอบ</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-freelance-evaluate-menuItem" th:href="@{/views/workspace/firstjobber/freelance/evaluate}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ประเมิน</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-freelance-jobHistory-menuItem" th:href="@{/views/workspace/firstjobber/freelance/job-history}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ประวัติการรับงาน</p>
            </a>
        </li>
    </ul>
</li>
<!-- ****************************** Freelance ****************************** -->


<!-- ****************************** Employer ****************************** -->
<li id="firstjobber-employer-menuDropdown" class="nav-item has-treeview">
    <a href="#"	class="nav-link"> 
        <i class="nav-icon fas fa-folder-open text-warning"></i>
        <p>
            บริษัท / ลูกค้า <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a id="firstjobber-employer-dashboard-menuItem" th:href="@{/views/workspace/firstjobber/employer/dashboard}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>แดชบอร์ด</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-employer-newRegistration-menuItem" th:href="@{/views/workspace/firstjobber/employer/new-registration}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ลงทะเบียนใหม่</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-employer-profile-menuItem" th:href="@{/views/workspace/firstjobber/employer/profile}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>โปรไฟล์</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-employer-findInternship-menuItem" th:href="@{/views/workspace/firstjobber/employer/find-internship}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ประกาศหานักศึกษาฝึกงาน</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-employer-findFreelance-menuItem" th:href="@{/views/workspace/firstjobber/employer/find-freelance}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ประกาศหาฟรีแลนซ์</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-employer-hireHistory-menuItem" th:href="@{/views/workspace/firstjobber/employer/hire-history}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ประวัติการว่าจ้าง</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-employer-paymentHistory-menuItem" th:href="@{/views/workspace/firstjobber/employer/payment-history}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>ประวัติการชำระเงิน</p>
            </a>
        </li>
    </ul>
</li>
<!-- ****************************** Employer ****************************** -->


<!-- ****************************** Stats ****************************** -->
<li id="firstjobber-stats-menuDropdown" class="nav-item has-treeview">
    <a href="#"	class="nav-link"> 
        <i class="nav-icon fas fa-folder-open text-warning"></i>
        <p>
            สถิติ-ข้อมูล <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a id="firstjobber-stats-dashboard-menuItem" th:href="@{/views/workspace/firstjobber/stats/dashboard}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>แดชบอร์ด</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-stats-facebook-menuItem" th:href="@{/views/workspace/firstjobber/stats/facebook}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>Facebook</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-stats-line-menuItem" th:href="@{/views/workspace/firstjobber/stats/line}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>Line</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-stats-twitter-menuItem" th:href="@{/views/workspace/firstjobber/stats/twitter}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>Twitter</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-stats-telephone-menuItem" th:href="@{/views/workspace/firstjobber/stats/telephone}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>โทร</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-stats-onsite-menuItem" th:href="@{/views/workspace/firstjobber/stats/onsite}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>MOU</p>
            </a>
        </li>
    </ul>
</li>
<!-- ****************************** Stats ****************************** -->


<!-- ****************************** Report ****************************** -->
<li id="firstjobber-report-menuDropdown" class="nav-item has-treeview">
    <a href="#"	class="nav-link"> 
        <i class="nav-icon fas fa-folder-open text-warning"></i>
        <p>
            รายงาน <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a id="firstjobber-report-dashboard-menuItem" th:href="@{/views/workspace/firstjobber/report/dashboard}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>แดชบอร์ด</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-report-revenue-menuItem" th:href="@{/views/workspace/firstjobber/report/revenue}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>รายได้</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-report-expense-menuItem" th:href="@{/views/workspace/firstjobber/report/expense}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>รายจ่าย</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-report-earningsStatement-menuItem" th:href="@{/views/workspace/firstjobber/report/earnings-statement}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>สรุปกำไร-ขาดทุน</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-report-employerPayment-menuItem" th:href="@{/views/workspace/firstjobber/report/employer-payment}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>รายการชำระบริษัท/ลูกค้า</p>
            </a>
        </li>
        <li class="nav-item">
            <a id="firstjobber-report-employerOverduePayment-menuItem" th:href="@{/views/workspace/firstjobber/report/employer-overdue-payment}" class="nav-link">
                <i class="far fa-circle nav-icon text-teal"></i>
                <p>รายการค้างชำระบริษัท/ลูกค้า</p>
            </a>
        </li>
    </ul>
</li>
<!-- ****************************** Report ****************************** -->