<div class="card mx-3">
    <!-- <div class="card-header">
      <h3 class="card-title px-3">ข้อมูลส่วนตัว</h3>
    </div> -->
    <div class="card-body mx-3">
        <form name="employeeForm" class="form row" novalidate>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span>รหัสพนักงาน</span>
                    </label>
                    <input name="Iduser" type="text" class="form-control" placeholder="ไม่มีข้อมูล"
                        ng-model="user_log.id" disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span>Email</span>
                    </label>
                    <input name="Email" type="text" class="form-control" placeholder="ไม่มีข้อมูล"
                        ng-model="user_log.email" disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span>ชื่อ - นามสกุล</span>
                    </label>
                    <input name="name" type="text" class="form-control" placeholder="ไม่มีข้อมูล"
                        ng-model="sum_userlog_name" disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span>ชื่อเล่น</span>
                    </label>
                    <input name="nickname" type="text" class="form-control" placeholder="ไม่มีข้อมูล"
                        ng-model="user_log.nickname" disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span>ตำแหน่ง</span>
                    </label>
                    <input name="position" type="text" class="form-control" placeholder="ไม่มีข้อมูล"
                        ng-model="user_log.position" disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span>สังกัด</span>
                    </label>
                    <input name="business" type="text" class="form-control" placeholder="ไม่มีข้อมูล"
                        ng-model="user_log.business" disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span>วันทำงาน</span>
                    </label>
                    <input name="days_work" type="text" class="form-control" placeholder="ไม่มีข้อมูล"
                        ng-model="user_log.days_work" disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span>เวลาทำงาน</span>
                    </label>
                    <input name="time_work" type="text" class="form-control" placeholder="ไม่มีข้อมูล"
                        ng-model="user_log.time_work" disabled />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span>วันที่ทำงาน</span>
                    </label>
                    <input name="day_work" type="date" class="form-control" 
                        placeholder="ไม่มีข้อมูล"
                        ng-class="{'is-invalid': !selectdate}"
                        ng-model="selectdate" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span>วันที่สลับวันหยุด</span>
                    </label>
                    <input name="day_switch" type="date" class="form-control" 
                        placeholder="ไม่มีข้อมูล"
                        ng-class="{'is-invalid': !selectdate_switch}"
                        ng-model="selectdate_switch" required />
                </div>
            </div>
        </form>
    </div>
</div>



<div class="card mx-3">
    <div class="card-header">
        <h3 class="card-title px-3 " style="color: #d81b60; font-size: 20px">
            <b>Forward</b> 
        </h3>
    </div>
    <div class="card-body mx-3">
        <form name="employeeForword" class="form row" novalidate>
            <div class="form row mx-0" ng-repeat="forworddata in forworddata | orderBy: 'id'">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>ลำดับความสำคัญของงาน</span>
                        </label>
                        <select name="typeName" class="form-control" 
                        style="width: 100%" ng-model="forworddata.typeWork"
                        ng-class="{'is-invalid': !forworddata.typeWork}" required>
                            <option value="" disabled selected hidden>
                                --- กรุณาเลือก ---
                            </option>
                            <option ng-repeat="TypeWorks in TypeWorks | orderBy: 'id'" ng-value="TypeWorks.work">
                                {{ TypeWorks.work }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>OCP</span>
                        </label>
                        <textarea name="ocp" type="text" class="form-control" 
                            placeholder="ระบุ OCP"
                            ng-class="{'is-invalid': !forworddata.ocp}"
                            ng-model="forworddata.ocp" required></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>AC</span>
                        </label>
                        <textarea name="ac" type="text" class="form-control" 
                            placeholder="ระบุ AC" ng-model="forworddata.ac"
                            ng-class="{'is-invalid': !forworddata.ac}"
                            required></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>Link</span>
                        </label>
                        <input name="linkweb" type="text" class="form-control" 
                            placeholder="ระบุ Link"
                            ng-model="forworddata.link" 
                            ng-class="{'is-invalid': !forworddata.link}"
                            required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>นาทีการทำงาน</span>
                        </label>
                        <input name="time" type="number" class="form-control" 
                            placeholder="ระบุเวลาเป็นนาที"
                            ng-class="{'is-invalid': !forworddata.time}"
                            ng-change="sumtime_forward(forworddata.time)"
                            ng-model="forworddata.time" required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>เลเวลของงาน</span>
                        </label>
                        <select name="level" class="form-control" 
                            style="width: 100%" ng-model="forworddata.LevelWork"
                            ng-class="{'is-invalid': !forworddata.LevelWork}"
                            required>
                            <option value="" disabled selected hidden>
                                --- กรุณาเลือก ---
                            </option>
                            <option ng-repeat="LevelWorks in LevelWorks | orderBy: 'id'" ng-value="LevelWorks.id">
                                {{ LevelWorks.lv }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>ผลการทำงาน</span>
                        </label>
                        <select name="level" class="form-control" style="width: 100%" ng-model="forworddata.result"
                            disabled>
                            <option value="" disabled selected hidden>
                                --- กรุณาเลือก ---
                            </option>
                            <option ng-repeat="results in results | orderBy: 'id'" ng-value="results.status">
                                {{ results.status }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-8">
                    <label>
                        <span>หมายเหตุ</span>
                    </label>
                    <input name="time" type="number" class="form-control" placeholder="ระบุเวลาเป็นนาที"
                        ng-model="forworddata.because" disabled />
                </div>

                <div class="col-md-12">
                    <div class="d-flex justify-content-end mx-2">
                        <button class="btn btn-outline-danger" ng-click="delForward(forworddata)">
                            <i class="fa fa-trash kws-table-action-icon"></i> ลบข้อ
                        </button>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr style="border-top: 2px solid rgb(156, 153, 153); margin: 10px 0;">
                </div>
                

            </div>
            
            <div class="col-md-12">
                <div>
                    <button class="btn btn-outline-success" ng-click="pushForward()">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> เพิ่มข้อ
                    </button>
                </div>

                <div class="d-flex align-items-end flex-column">
                    <div class="mt-auto">
                        <label>
                            <span>รวมเวลา</span>
                        </label>
                        <input name="sum_forward" type="text" class="form-control" placeholder="ไม่มีข้อมูล"
                            ng-model="sum_forward" disabled />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>







<div class="card mx-3">
    <div class="card-header">
        <h3 class="card-title px-3" style="color: #d81b60; font-size: 20px">
            <b>Routine</b>
        </h3>
    </div>
    <div class="card-body mx-3">
        <form name="employeeRoutine" class="form row" novalidate>
            <div class="form row mx-0" ng-repeat="routinedata in routinedata | orderBy: 'id'">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>ลำดับความสำคัญของงาน</span>
                        </label>
                        <select name="typeName" class="form-control" 
                        ng-class="{'is-invalid': !routinedata.typeWork}"
                        style="width: 100%" ng-model="routinedata.typeWork">
                            <option value="" disabled selected hidden>
                                --- กรุณาเลือก ---
                            </option>
                            <option ng-repeat="TypeWorks in TypeWorks | orderBy: 'id'" ng-value="TypeWorks.work">
                                {{ TypeWorks.work }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>OCP</span>                    
                        </label>
                        <textarea name="ocp" type="text" class="form-control" 
                            placeholder="ระบุ OCP"
                            ng-class="{'is-invalid': !routinedata.ocp}"
                            ng-model="routinedata.ocp" required></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>AC</span>
                        </label>
                        <textarea name="ac" type="text" class="form-control" 
                        ng-class="{'is-invalid': !routinedata.ac}"
                        placeholder="ระบุ AC" ng-model="routinedata.ac"
                            required></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>Link</span>
                        </label>
                        <input name="linkweb" type="text" class="form-control" 
                        ng-class="{'is-invalid': !routinedata.link}"
                        placeholder="ระบุ Link"
                            ng-model="routinedata.link" required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>นาทีการทำงาน</span>
                        </label>
                        <input name="time" type="number" class="form-control" 
                        ng-class="{'is-invalid': !routinedata.time}"
                        placeholder="ระบุเวลาเป็นนาที"
                        ng-change="sumtime_routine(routinedata.time)"
                        ng-model="routinedata.time" required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>เลเวลของงาน</span>
                        </label>
                        <select name="level" class="form-control" style="width: 100%" 
                        ng-model="routinedata.LevelWork"
                        ng-class="{'is-invalid': !routinedata.LevelWork}">
                            <option value="" disabled selected hidden>
                                --- กรุณาเลือก ---
                            </option>
                            <option ng-repeat="LevelWorks in LevelWorks | orderBy: 'id'" ng-value="LevelWorks.id">
                                {{ LevelWorks.lv }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>ผลการทำงาน</span>
                        </label>
                        <select name="level" class="form-control" style="width: 100%" 
                        ng-model="routinedata.result" disabled>
                            <option value="" disabled selected hidden>
                                --- กรุณาเลือก ---
                            </option>
                            <option ng-repeat="results in results | orderBy: 'id'" ng-value="results.status">
                                {{ results.status }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-8">
                    <label>
                        <span>หมายเหตุ</span>
                    </label>
                    <input name="time" type="number" class="form-control" placeholder="ระบุเวลาเป็นนาที"
                        ng-model="routinedata.because" disabled />
                </div>

                <div class="col-md-12">
                    <div class="d-flex justify-content-end mx-2">
                        <button class="btn btn-outline-danger" ng-click="delRoution(routinedata)">
                            <i class="fa fa-trash kws-table-action-icon"></i> ลบข้อ
                        </button>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr style="border-top: 2px solid rgb(156, 153, 153); margin: 10px 0;">
                </div>
            </div>

            <div class="col-md-12">
                <div>
                    <button class="btn btn-outline-success" ng-click="pushRoution()">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> เพิ่มข้อ
                    </button>
                </div>

                <div class="d-flex align-items-end flex-column">
                    <div class="mt-auto">
                        <label>
                            <span>รวมเวลา</span>
                        </label>
                        <input name="sum_routine" type="text" class="form-control" placeholder="ไม่มีข้อมูล"
                            ng-model="sum_routine" disabled />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card mx-3">
    <div class="card-header">
        <h3 class="card-title px-3" style="color: #d81b60; font-size: 20px">
            <b>หน้างาน</b> 
        </h3>
    </div>
    <div class="card-body mx-3">
        <form name="employeeForWork" class="form row" novalidate>
            <div class="form row mx-0" ng-repeat="forworkdata in forworkdata | orderBy: 'id'">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>ลำดับความสำคัญของงาน</span>
                        </label>
                        <select name="typeName" class="form-control" 
                        ng-class="{'is-invalid': !forworkdata.typeWork}"
                        style="width: 100%" ng-model="forworkdata.typeWork">
                            <option value="" disabled selected hidden>
                                --- กรุณาเลือก ---
                            </option>
                            <option ng-repeat="TypeWorks in TypeWorks | orderBy: 'id'" ng-value="TypeWorks.work">
                                {{ TypeWorks.work }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>OCP</span>                    
                        </label>
                        <textarea name="ocp" type="text" class="form-control" 
                            placeholder="ระบุ OCP"
                            ng-class="{'is-invalid': !forworkdata.ocp}"
                            ng-model="forworkdata.ocp" required></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>AC</span>
                        </label>
                        <textarea name="ac" type="text" class="form-control" 
                        ng-class="{'is-invalid': !forworkdata.ac}"
                        placeholder="ระบุ AC" ng-model="forworkdata.ac"
                            required></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>Link</span>
                        </label>
                        <input name="linkweb" type="text" class="form-control" 
                        ng-class="{'is-invalid': !forworkdata.link}"
                        placeholder="ระบุ Link"
                            ng-model="forworkdata.link" required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>นาทีการทำงาน</span>
                        </label>
                        <input name="time" type="number" class="form-control" 
                        ng-class="{'is-invalid': !forworkdata.time}"
                        placeholder="ระบุเวลาเป็นนาที"
                        ng-change="sumtime_forwork(forworkdata.time)"
                        ng-model="forworkdata.time" required />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>เลเวลของงาน</span>
                        </label>
                        <select name="level" class="form-control" style="width: 100%" 
                        ng-model="forworkdata.LevelWork"
                        ng-class="{'is-invalid': !forworkdata.LevelWork}">
                            <option value="" disabled selected hidden>
                                --- กรุณาเลือก ---
                            </option>
                            <option ng-repeat="LevelWorks in LevelWorks | orderBy: 'id'" ng-value="LevelWorks.id">
                                {{ LevelWorks.lv }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>
                            <span>ผลการทำงาน</span>
                        </label>
                        <select name="level" class="form-control" style="width: 100%" 
                        ng-model="forworkdata.result" disabled>
                            <option value="" disabled selected hidden>
                                --- กรุณาเลือก ---
                            </option>
                            <option ng-repeat="results in results | orderBy: 'id'" ng-value="results.status">
                                {{ results.status }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-8">
                    <label>
                        <span>หมายเหตุ</span>
                    </label>
                    <input name="time" type="number" class="form-control" placeholder="ระบุเวลาเป็นนาที"
                        ng-model="forworkdata.because" disabled />
                </div>

                <div class="col-md-12">
                    <div class="d-flex justify-content-end mx-2">
                        <button class="btn btn-outline-danger" ng-click="delForwork(forworkdata)">
                            <i class="fa fa-trash kws-table-action-icon"></i> ลบข้อ
                        </button>
                    </div>
                </div>
                <div class="col-md-12">
                    <hr style="border-top: 2px solid rgb(156, 153, 153); margin: 10px 0;">
                </div>
            </div>

            <div class="col-md-12">
                <div>
                    <button class="btn btn-outline-success" ng-click="pushForwork()">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> เพิ่มข้อ
                    </button>
                </div>

                <div class="d-flex align-items-end flex-column">
                    <div class="mt-auto">
                        <label>
                            <span>รวมเวลา</span>
                        </label>
                        <input name="sum_forwork" type="text" class="form-control" placeholder="ไม่มีข้อมูล"
                            ng-model="sum_forwork" disabled />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card mx-3">
    <div class="card-header">
        <h3 class="card-title px-3" style="color: #d81b60; font-size: 20px">
            <b>รวมเวลาทั้งหมด</b> 
        </h3>
    </div>
    <div class="card-body mx-3">
        <form name="employeeSumtime" class="form row" novalidate>
            <div class="col-md-12">
                <div class="d-flex align-items-center flex-column text-center">
                    <div class="mt-auto">
                        <label>
                            <span>รวมเวลาทั้งหมด</span>
                        </label>
                        <input name="sum_time_all" type="text" class="form-control text-center" placeholder="ไม่มีข้อมูล"
                            ng-model="sum_time_all" disabled />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card mx-3">
    <div class="card-header">
        <h3 class="card-title px-3" style="color: #d81b60; font-size: 20px">
            <b>KPI</b> 
        </h3>
    </div>
    <div class="card-body mx-3">
        <form name="employeeKPI" class="form row" novalidate>
            <div class="col-md-8">
                <label>
                    <span>รายละเอียด</span>
                </label>
                <input name="sum_forword" type="number" class="form-control mb-2" placeholder="ไม่มีข้อมูล"
                    ng-model="sum_forword" disabled />
                <input name="sum_forword" type="number" class="form-control mb-2" placeholder="ไม่มีข้อมูล"
                    ng-model="sum_forword" disabled />
            </div>
            <div class="col-md-2">
                <label>
                    <span>ยอดล่าสุด</span>
                </label>
                <input name="sum_forword" type="number" class="form-control mb-2" placeholder="ไม่มีข้อมูล"
                    ng-model="sum_forword" disabled />
                <input name="sum_forword" type="number" class="form-control mb-2" placeholder="ไม่มีข้อมูล"
                    ng-model="sum_forword" disabled />
            </div>
            <div class="col-md-2">
                <label>
                    <span>เป้าหมาย</span>
                </label>
                <input name="sum_forword" type="number" class="form-control mb-2" placeholder="ไม่มีข้อมูล"
                    ng-model="sum_forword" disabled />
                <input name="sum_forword" type="number" class="form-control mb-2" placeholder="ไม่มีข้อมูล"
                    ng-model="sum_forword" disabled />
            </div>
        </form>
    </div>
</div>

<div class="text-right mx-3 pb-4">
    <button class="btn btn-outline-info" ng-click="requestSave() ;saveTitle()">
        <i class="fa fa-save" aria-hidden="true"></i> บันทึก
    </button>
</div>