<div class="container-fluid" ng-show="selectedCandidateProfile"></div>
<div class="container-fluid bg-white rounded ">
    <div class="row g-0 text-center">
        <div class="col-sm-3 mt-3  ">
            <div class="p-3 bg-light rounded ">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><span class="badgeInfo ">{{selectedCandidateProfile.id}}</span></h5><br>
                        <p class="card-text text-left">{{selectedCandidateProfile.firstName}}
                            {{selectedCandidateProfile.lastName}}<br>{{selectedCandidateProfile.job_position}}</p>

                        <div class="row-sm-6 ">
                            <form name="dateForm" class="form row p-1" novalidate>
                                <div class="form-group border rounded p-2">

                                    <label>
                                        <span class="text-danger">*</span>
                                        <span ng-show="!isShowDateError()">วันที่เจรจา</span>
                                        <span class="text-danger" ng-show="isShowDateError()">กรุณาระบุวันที่</span>
                                    </label>

                                    <div class="input-group date" id="entryStartDatePicker" data-target-input="nearest">
                                        <input name="day" class="form-control datetimepicker-input"
                                            data-target="#entryStartDatePicker"
                                            ng-class="{'is-invalid': isShowDateError()}"
                                            ng-model="selectedCandidateProfile.day" required />
                                        <div class="input-group-append" data-target="#entryStartDatePicker"
                                            data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col-sm-6">
                                            <select name="startTime" class="form-control" 
                                            ng-class="{'is-invalid': isShowStartNegotiateError()}" 
                                            ng-model="selectedCandidateProfile.start_negotiate"
                                            ng-style="{'font-size':'14px'}"
                                                required>
                                                <option value="" disabled selected hidden>
                                                    กรุณาเลือก
                                                </option>
                                                <option ng-repeat="time in timeOptions | orderBy: 'time.id'"
                                                    ng-value="time.id">
                                                    {{time.name }}
                                                </option>
                                            </select>
                                        </div>

                                        <div class="col-sm-6">

                                            <select name="endTime" class="form-control" 
                                            ng-class="{'is-invalid': isShowEndNegotiateError()}" 
                                            ng-model="selectedCandidateProfile.end_negotiate"
                                            ng-style="{'font-size':'14px'}"
                                                required>
                                                <option value="" disabled selected hidden>
                                                    กรุณาเลือก
                                                </option>
                                                <option ng-repeat="time in timeOptions | orderBy: 'time.id'"
                                                    ng-value="time.id">
                                                    {{time.name}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="container p-2">
                                        <button class="btn btn-outline-danger text-dark" ng-click="toListMode()">
                                            <i class="fa "></i>ยกเลิก
                                        </button>
                                        <button class="btn btn-outline-success text-dark " ng-click="requestSaveDate()">
                                            <i class="fa"></i>ยืนยัน
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3 mt-3 mb-3 bg-light rounded">
                <a href="">
                    <div ng-repeat="candidate in candidates | orderBy:'sortCandidatesById'"
                        class="card  hoverEffect mb-3"
                        ng-if="candidate.negotiate_status == 'null' && candidate.id != selectedCandidateProfile.id">
                        <div class="card-body " ng-click="goSetDateNegotiate(candidate)">
                            <h5 class="card-title"><span class="badgeInfo ">{{candidate.id}}</span></h5><br>
                            <p class="card-text text-left ">{{candidate.firstName}}
                                {{candidate.lastName}}<br>({{candidate.job_position}})</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--  col-9 -->
        <div class="col-sm-9 mt-3 mb-3 px-2 ">
            <div class="row gx-5 text-center">
                <!--  รอเจรจาสัญญาจ้าง-->
                <div class="col-sm-3  mb-3 px-1 ">
                    <div class="p-2 bg-light h-100 rounded " style="background-color: #E5E9EB;">
                        <p class="text-left pInterBold" style="color: #6E7C87;">รอเจรจาสัญญาจ้าง</p>
                        <a href="">
                            <div ng-repeat="candidate in candidates | orderBy:'sortCandidatesById'"
                                class="card hoverEffect mb-3 mt-1" ng-if="candidate.negotiate_status == 'wait'">

                                <div class="card-body  " ng-click="toDetailMode(candidate)">
                                    <h5 class="card-title"><span class="badgeInfo">{{candidate.id}}</span></h5><br>
                                    <p class="card-text text-left ">{{candidate.firstName}}
                                        {{candidate.lastName}}<br>({{candidate.job_position}})
                                    </p>
                                </div>

                                <div class="p-1">
                                    <div style="text-align: center;" ng-click="toDetailMode(candidate)">
                                        <span class="spanTime float-left  bgYellow p10 p700"
                                            ng-style="{'color': '#AC7710'}">
                                            {{candidate.day}} :
                                            {{candidate.startTime}} -
                                            {{candidate.endTime}}
                                        </span>
                                    </div>
                                    <button class="button buttonYes p8 p700" ng-style="{'width':'30%'}"
                                    ng-click="toEntryNegotiateMode(candidate)">
                                    เริ่มเจรจา
                                </button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--  รอตกลงเซ็นสัญญาจ้าง-->
                <div class="col-sm-3  mb-3 px-2 ">
                    <div class="p-2 bg-light h-100  rounded" style="background-color: #E5E9EB;">
                        <p class="text-left pInterBold" style="color: #6E7C87;">รอตกลงเซ็นสัญญาจ้าง</p>
                        <a href="">
                            <div ng-repeat="candidate in candidates | orderBy:'sortCandidatesById'"
                                class="card hoverEffect mb-3 mt-1" ng-if="candidate.negotiate_status == 'waitForResult'">
                                <div class="card-body" ng-click="toDetailMode(candidate)">
                                    <h5 class="card-title"><span class="badgeInfo">{{candidate.id}}</span></h5><br>
                                    <p class="card-text text-left ">{{candidate.firstName}}
                                        {{candidate.lastName}}<br>({{candidate.job_position}})
                                    </p>

                                </div>
                                <!-- ใส่ฟังก์ชั่น ลบ เพิ่ม-->

                                <div class="p-1 ">
                                    <button class="button buttonYellow p8 p700" ng-style="{'width':'25%'}" ng-click="toDetailNegotiateMode(candidate)">
                                        ดูข้อมูล
                                    </button>
                                    <button class="button buttonYes p8 p700" ng-style="{'width':'25%'}" ng-click="">
                                        ตกลง
                                    </button>
                                    <button class="button buttonNo p8 p700" ng-style="{'width':'25%'}" ng-click="">
                                        ไม่ตกลง
                                    </button>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                <!--  เจรจาสัญญาจ้างสำเร็จ-->
                <div class="col-sm-3 mb-3 px-2 ">
                    <div class="p-2 bg-light h-100 rounded " style="background-color: #E5E9EB;">
                        <p class="text-left pInterBold" style="color: #6E7C87;">เจรจาสัญญาจ้างสำเร็จ</p>
                        <a href="">
                            <div ng-repeat="candidate in candidates | orderBy:'sortCandidatesById'"
                                class="card hoverEffect mb-3 mt-1" ng-if="candidate.negotiate_status == 'success'">
                                <div class="card-body " ng-click="toDetailMode(candidate)">
                                    <h5 class="card-title"><span class="badgeInfo">{{candidate.id}}</span></h5><br>
                                    <p class="card-text text-left ">{{candidate.firstName}}
                                        {{candidate.lastName}}<br>({{candidate.job_position}})
                                    </p>
                                    <div style="text-align: center;">
                                        <span class="spanTime float-left  bgGreen p10 p700"
                                            ng-style="{'color': '#12B76A'}">
                                            {{candidate.day}} :
                                            {{candidate.startTime}} -
                                            {{candidate.endTime}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--  เจรจาสัญญาจ้างไม่สำเร็จ-->
                <div class="col-sm-3 mb-3 px-2 ">
                    <div class="p-2 bg-light h-100  rounded" style="background-color: #E5E9EB;">
                        <p class="text-left pInterBold" style="color: #6E7C87;">เจรจาสัญญาจ้างไม่สำเร็จ</p>
                        <a href="">
                            <div ng-repeat="candidate in candidates | orderBy:'sortCandidatesById'"
                                class="card hoverEffect mb-3 mt-1" ng-if="candidate.negotiate_status == 'failed'">
                                <div class="card-body" ng-click="toDetailMode(candidate)">
                                    <h5 class="card-title"><span class="badgeInfo">{{candidate.id}}</span></h5><br>
                                    <p class="card-text text-left ">{{candidate.firstName}}
                                        {{candidate.lastName}}<br>({{candidate.job_position}})
                                    </p>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>