<div class="container-fluid bg-white rounded">
    <div class="row g-0 text-center">
        <div class="col-sm-3 mt-3  ">
            <div class="p-3 bg-light rounded ">
                <pre></pre> <pre></pre> <pre></pre> <pre></pre>
                <div ng-repeat="candidate in candidates | orderBy:'sortCandidatesById'"
                    ng-if="candidate.negotiate_status == 'addDate'" class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><span class="badgeInfo">{{candidate.id}}</span></h5>
                        <p class="card-text text-left">{{candidate.name}}
                            {{candidate.surname}}<br>({{candidate.position}})</p>
                    </div>
                </div>
            </div>
            <div class="p-3 mt-3 mb-3 bg-light rounded">
                <a href="">
                    <div ng-repeat="candidate in candidates | orderBy:'sortCandidatesById'"  class="card hoverEffect mb-3"
                        ng-if="candidate.negotiate_status == 'null'">
                        <div class="card-body " ng-click="goSetDateNegotiate(candidate)">
                            <h5 class="card-title"><span class="badgeInfo ">{{candidate.id}}</span></h5><br>
                            <p class="card-text text-left ">{{candidate.name}}
                                {{candidate.surname}}<br>({{candidate.position}})</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--  col-9 -->
        <div class="col-sm-9 mt-3 mb-3 px-2 ">
            <div class="row gx-5 text-center">
                <!--  รอเจรจาสัญญาจ้าง-->
                <div class="col-sm-3  mb-3 px-1 ">
                    <div class="p-2 bg-light h-100 rounded " style="background-color: #E5E9EB;">
                        <p class="text-left pInterBold" style="color: #6E7C87;">รอเจรจาสัญญาจ้าง</p>
                        <a href="">
                            <div ng-repeat="candidate in candidates | orderBy:'sortCandidatesById'"
                                class="card hoverEffect mb-3 mt-1" ng-if="candidate.negotiate_status == 'wait'">

                                <div class="card-body  " ng-click="toDetailMode(candidate)">
                                    <h5 class="card-title"><span class="badgeInfo">{{candidate.id}}</span></h5><br>
                                    <p class="card-text text-left ">{{candidate.name}}
                                        {{candidate.surname}}<br>({{candidate.position}})
                                    </p>
                                </div>

                                <div class="p-1">
                                    <div style="text-align: center;"  ng-click="toDetailMode(candidate)">
                                        <span class="spanTime float-left  bgYellow p10 p700"
                                            ng-style="{'color': '#AC7710'}">
                                            {{candidate.day}} :
                                            {{candidate.startTime}} -
                                            {{candidate.endTime}}
                                        </span>
                                    </div>
                                    <button class="button buttonYes p700" ng-click="toNegotiateMode(candidate)">
                                       เริ่มเจรจา
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--  รอตกลงเซ็นสัญญาจ้าง-->
                <div class="col-sm-3  mb-3 px-2 ">
                    <div class="p-2 bg-light h-100  rounded" style="background-color: #E5E9EB;">
                        <p class="text-left pInterBold" style="color: #6E7C87;">รอตกลงเซ็นสัญญาจ้าง</p>
                        <a href="">
                        <div ng-repeat="candidate in candidates | orderBy:'sortCandidatesById'" class="card hoverEffect mb-3 mt-1"
                            ng-if="candidate.negotiate_status == 'failed'">
                            <div class="card-body" ng-click="toDetailMode(candidate)">
                                <h5 class="card-title"><span class="badgeInfo">{{candidate.id}}</span></h5><br>
                                <p class="card-text text-left ">{{candidate.name}}
                                    {{candidate.surname}}<br>({{candidate.position}})
                                </p>

                            </div>
                            <!-- ใส่ฟังก์ชั่น ลบ เพิ่ม-->
                           
                            <div class="p-1">
                                <button class="button buttonYes p700" ng-click="">
                                    ตกลง
                                 </button>
                                <button class="button buttonNo p700" ng-click="">
                                   ไม่ตกลง
                                </button>
                            </div>
                           
                        </div>
                    </a>
                    </div>
                </div>
                <!--  เจรจาสัญญาจ้างสำเร็จ-->
                <div class="col-sm-3 mb-3 px-2 ">
                    <div class="p-2 bg-light h-100 rounded " style="background-color: #E5E9EB;">
                        <p class="text-left pInterBold" style="color: #6E7C87;">เจรจาสัญญาจ้างสำเร็จ</p>
                        <a href="">
                        <div ng-repeat="candidate in candidates | orderBy:'sortCandidatesById'" class="card hoverEffect mb-3 mt-1"
                            ng-if="candidate.negotiate_status == 'success'">
                            <div class="card-body " ng-click="toDetailMode(candidate)">
                                <h5 class="card-title"><span class="badgeInfo">{{candidate.id}}</span></h5><br>
                                <p class="card-text text-left ">{{candidate.name}}
                                    {{candidate.surname}}<br>({{candidate.position}})
                                </p>
                                <div style="text-align: center;"    >
                                    <span class="spanTime float-left  bgGreen p10 p700"
                                        ng-style="{'color': '#12B76A'}">
                                        {{candidate.day}} :
                                        {{candidate.startTime}} -
                                        {{candidate.endTime}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                <!--  เจรจาสัญญาจ้างไม่สำเร็จ-->
                <div class="col-sm-3 mb-3 px-2 ">
                    <div class="p-2 bg-light h-100  rounded" style="background-color: #E5E9EB;">
                        <p class="text-left pInterBold" style="color: #6E7C87;">เจรจาสัญญาจ้างไม่สำเร็จ</p>
                        <a href="">
                        <div ng-repeat="candidate in candidates | orderBy:'sortCandidatesById'" class="card hoverEffect mb-3 mt-1"
                            ng-if="candidate.negotiate_status == 'failed'">
                            <div class="card-body" ng-click="toDetailMode(candidate)">
                                <h5 class="card-title"><span class="badgeInfo">{{candidate.id}}</span></h5><br>
                                <p class="card-text text-left ">{{candidate.name}}
                                    {{candidate.surname}}<br>({{candidate.position}})
                                </p>

                            </div>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>