<div class="container-fluid bg-white rounded">
    <div class="row gx-5 text-center">
        <div class="col-sm-3 mt-3 rounded ">
            <div class="p-3 bg-light ">
                <div ng-repeat="candidate in candidates | orderBy:'id'" ng-if="candidate.negotiate_status == 'addDate'"
                    class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><span class="badge float-right"
                                style="background-color: #E5E9EB;">{{candidate.id}}</span></h5>
                        <p class="card-text text-left">{{candidate.name}}
                            {{candidate.surname}}<br>{{candidate.position}}</p>
                    </div>
                </div>
            </div>
            <div class="p-3 mt-3 mb-3 bg-light">
                <div ng-repeat="candidate in candidates | orderBy:'id'" class="card mb-3"
                    ng-if="candidate.negotiate_status == 'null'">
                    <div class="card-body hover-overlay" ng-click="goSetDateNegotiate(candidate)">
                        <h5 class="card-title"><span class="badge float-right"
                                style="background-color: #E5E9EB;">{{candidate.id}}</span></h5>
                        <p class="card-text text-left">{{candidate.name}}
                            {{candidate.surname}}<br>{{candidate.position}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mt-3 mb-3 px-2 rounded">

            <div class="p-3 bg-light h-100  " style="background-color: #E5E9EB;">
                <p class="text-left" style="color: #6E7C87;">รอเจรจาสัญญาจ้าง</p>
                <div ng-repeat="candidate in candidates | orderBy:'id'" class="card mb-3 mt-1"
                    ng-if="candidate.negotiate_status == 'wait'">
                    <div class="card-body hover-overlay">
                        <h5 class="card-title"><span class="badge float-right"
                                style="background-color: #E5E9EB;">{{candidate.id}}</span></h5>
                        <p class="card-text text-left">{{candidate.name}}
                            {{candidate.surname}}<br>{{candidate.position}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mt-3 mb-3 px-2 rounded">
            <div class="p-3 bg-light h-100  " style="background-color: #E5E9EB;">
                <p class="text-left" style="color: #6E7C87;">เจรจาสัญญาจ้างสำเร็จ</p>
                <div ng-repeat="candidate in candidates | orderBy:'id'" class="card mb-3 mt-1"
                    ng-if="candidate.negotiate_status == 'success'">
                    <div class="card-body hover-overlay">
                        <h5 class="card-title"><span class="badge float-right"
                                style="background-color: #E5E9EB;">{{candidate.id}}</span></h5>
                        <p class="card-text text-left">{{candidate.name}}
                            {{candidate.surname}}<br>{{candidate.position}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mt-3 mb-3 px-2 rounded">
            <div class="p-3 bg-light h-100  " style="background-color: #E5E9EB;">
                <p class="text-left" style="color: #6E7C87;">เจรจาสัญญาจ้างไม่สำเร็จ</p>
                <div ng-repeat="candidate in candidates | orderBy:'id'" class="card mb-3 mt-1"
                    ng-if="candidate.negotiate_status == 'failed'">
                    <div class="card-body hover-overlay">
                        <h5 class="card-title"><span class="badge float-right"
                                style="background-color: #E5E9EB;">{{candidate.id}}</span></h5>
                        <p class="card-text text-left">{{candidate.name}}
                            {{candidate.surname}}<br>{{candidate.position}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>