<div class="row">
    <div class="col-md-12">
        <!-- card-body -->
        <div class="card kws-card-border-top-dark">
            <!-- card-header -->
            <div class="card-header">
                <h5 class="card-title text-maroon">เมนูข้อมูลสถานศึกษา</h5>
            </div>
            <!-- /.card-header -->

            <!-- card-body -->
            <div class="card-body">
                <div class="row">
                    
                    <div ng-if="false" class="col-lg-3 col-md-4">
                        <a th:href="@{/views/workspace/core/education/school-type}" class="kws-app-menu-wrapper">
                            <div class="info-box mb-3 bg-indigo">
                                <span class="info-box-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">ประเภทสถานศึกษา</span>
                                    <span class="info-box-number">เปิด</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 kws-app-menu-wrapper">
                        <a th:href="@{/views/workspace/core/education/school}" class="kws-app-menu-wrapper">
                            <div class="info-box mb-3 bg-danger">
                                <span class="info-box-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">สถานศึกษา</span>
                                    <span class="info-box-number">เปิด</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 kws-app-menu-wrapper">
                        <a th:href="@{/views/workspace/core/education/education-degree}" class="kws-app-menu-wrapper">
                            <div class="info-box mb-3 bg-gradient-navy">
                                <span class="info-box-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">วุฒิการศึกษา</span>
                                    <span class="info-box-number">เปิด</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 kws-app-menu-wrapper">
                        <a th:href="@{/views/workspace/core/education/education-faculty}" class="kws-app-menu-wrapper">
                            <div class="info-box mb-3 bg-orange">
                                <span class="info-box-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">คณะวิชา</span>
                                    <span class="info-box-number">เปิด</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 kws-app-menu-wrapper">
                        <a th:href="@{/views/workspace/core/education/education-major}" class="kws-app-menu-wrapper">
                            <div class="info-box mb-3 bg-success">
                                <span class="info-box-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">สาขาวิชา</span>
                                    <span class="info-box-number">เปิด</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>