<div class="my-2  shadow text-center" style="border-radius: 10px;">
    <div class="table-wrapper-scroll-y my-custom-scrollbar table-responsive">
        <table class="table  table-hover text-nowrap">
            <thead style="background-color: #EAECF0; border-radius: 10px;">
                <tr>
                    <td scope="col" class='p14'>รหัสพนักงาน</td>
                    <td scope="col" class='p14'>ชื่อ - นามสกุล</td>
                    <td scope="col" class='p14'>ชื่อเล่น</td>
                    <td scope="col" class='p14'>สังกัด</td>
                    <td scope="col" class='p14'>วันทำงาน</td>
                    <td scope="col" class='p14'>ลาป่วย</td>
                    <td scope="col" class='p14'>ลากิจ</td>
                    <td scope="col" class='p14'>สลับวันทำงาน</td>
                    <td scope="col" class='p14'>เวลาที่ลง Outcome Plan (OCP)</td>
                    <td scope="col" class='p14'>เวลาที่ลง Outcome (OC)</td>
                    <td scope="col" class='p14'>จำนวนลง OC/OCP</td>
                    <td scope="col" class='p14'>หักค่าประกันความรับผิดชอบ</td>
                    <td scope="col" class='p14'>เหตุผลที่ไม่หักตามกฎ</td>
                    <td scope="col" class='p14'>Action</td>
                </tr>
            </thead>
            <tbody>
                <!-- <tr ng-if="!search_table">
                <td colspan="9" class="text-center">ไม่มีข้อมูล</td>
            </tr> -->
                <tr ng-repeat="employee_report in employee_reports ">

                    <td scope="row">{{ employee_report.employeeCode}}</td>
                    <td class="p-2">{{ employee_report.firstName }} {{ employee_report.lastName}}</td>
                    <td class="p-2">{{ employee_report.nickname }}</td>
                    <td class="p-2">{{ employee_report.business }}</td>
                    <td class="p-2">{{ employee_report.work_day }}</td>
                    <td class="p-2">{{ employee_report.sick_leave_day }}</td>
                    <td class="p-2">{{ employee_report.personal_leave_day }}</td>
                    <td class="p-2">{{ employee_report.switch_work_day }}</td>
                    <td class="p-2">{{ employee_report.ocpStatus }}</td>
                    <td class="p-2">{{ employee_report.ocStatus }}</td>
                    <td class="p-2">{{ employee_report.reportCount }}</td>
                    <td class="p-2">{{ employee_report.responsibilityStatus }}</td>
                    <td class="p-2">{{ employee_report.responsibilityDeductStatus }}</td>


                    <td class="p-2">
                        <button class="btn btn-sm btn-outline-primary" ng-click="viewReport(employee_report)">
                            <i class="fa fa-eye text-primary" aria-hidden="true"></i>
                        </button>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
