<style>
    ul {
        list-style-type: none;
    }
</style>

<script src="https://adminlte.io/themes/v3/plugins/inputmask/jquery.inputmask.min.js"></script>

<div th:replace="fishsix/admin-lte-3/workspace/admin/teacher/profile/script/controller"></div>

<section ng-controller="FishsixTeacherProfileController" ng-init="init()">
    <div ng-if="isLoading" class="kws-loader">
        <div class='kws-loader-spin'></div>
    </div>

    <div ng-show="mode === 'list'">
        <div th:replace="fishsix/admin-lte-3/workspace/admin/teacher/profile/search"></div>
        <div th:replace="fishsix/admin-lte-3/workspace/admin/teacher/profile/list"></div>
    </div>
    <div ng-show="mode === 'entry'">
        <div th:replace="fishsix/admin-lte-3/workspace/admin/teacher/profile/entry"></div>
    </div>
</section>