<div class="card">
    <!-- card-header -->
    <div class="card-header">
        <h3 class="card-title text-maroon">ผลการค้นหา</h3>
    </div>
    <!-- /.card-header -->

    <!-- card-body -->
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>ชื่อ-สกุล</th>
                    <th>ชื่อเล่น</th>
                    <th>สอนวิชา</th>
                    <th>สัญญาจ้าง</th>
                    <th>เวลางาน</th>
                    <th class="text-center" style="width: 64px;">Action</th>
                </tr>
            </thead>

            <tbody ng-if="teacherProfiles.length > 0">
                <tr ng-repeat="teacherProfile in teacherProfiles  | orderBy: 'name'">
                    <td>{{ teacherProfile.teacher.firstName + ' ' + teacherProfile.teacher.lastName }}</td>
                    <td>{{ teacherProfile.teacher.nickName }}</td>
                    <!-- <td>{{ teacher.subjects }}</td> -->
                    <td>
                        <!-- <ul>
                            <li>Math-101</li>
                            <li>Physics-101</li>
                        </ul> -->
                        <ul>
                            <li ng-repeat="subject in getSubjects(teacherProfile)">
                                {{ subject.name }}
                            </li>
                            <!-- <li>Physics-101</li> -->
                        </ul>
                    </td>
                    <td>{{ getHireTypeName(teacherProfile.teacher) }}</td>
                    <td>{{ getWorktimeTypeName(teacherProfile.teacher) }}</td>
                    <td class="text-center">
                        <button class="btn btn-sm btn-outline-warning" ng-click="requestEditTeacher(teacherProfile)">
                            <i class="fa fa-edit kws-table-action-icon"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger" ng-click="requestDeleteTeacher(teacherProfile)">
                            <i class="fa fa-trash kws-table-action-icon"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

            <tfoot ng-if="teacherProfiles.length == 0">
                <tr>
                    <td class="text-center text-orange" colspan="6">--- ไม่มีข้อมูล ---</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->

    <!-- card-footer -->
    <div class="card-footer clearfix" ng-show="teacherProfiles.length > 0">
        <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)" ng-click="gotoPageNo(1)">&laquo;</a>
            </li>
            <li class="page-item" ng-repeat="pageNo in getPageNos() track by $index">
                <a class="page-link" ng-class="{'text-bold': pageNo == paging.pageNo}" href="javascript:void(0)" ng-click="gotoPageNo(pageNo)">{{ pageNo }}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)" ng-click="gotoPageNo(paging.totalPage)">&raquo;</a>
            </li>
        </ul>
    </div>
    <!-- /.card-footer -->
</div>