<!-- <div th:replace="core/admin-lte-3/workspace/hr/screenresume/script/table_controller"></div>
<div th:replace="core/admin-lte-3/workspace/hr/screenresume/script/cate_succe_controller"></div> -->
<script th:inline="javascript">
    app.controller("CandidateUserController", ["$scope", "$http", ($scope, $http) => {
            $scope.mode = 'list';
            $scope.date = 'close';
            $scope.init = function() {
                // tableController($scope, $http);
                // cate_success_Controller($scope, $http);
                $(".select2").select2({ theme: "bootstrap4" });
            };
            $scope.items = [
                { label: '19', name: 'ชื่อ - นามสกุล', position: 'ตำแหน่ง' },
                { label: '18', name: 'ชื่อ - นามสกุล', position: 'ตำแหน่ง' },
                { label: '17', name: 'ชื่อ - นามสกุล', position: 'ตำแหน่ง' },
                { label: '16', name: 'ชื่อ - นามสกุล', position: 'ตำแหน่ง' }
            ];
            $scope.changeitem = { label: '', name: '', position: '' };

            $scope.changemode_date = function(item) {
                if ($scope.changeitem.name !== '') {
                    // ตรวจสอบว่า changeitem ซ้ำกับข้อมูลที่มีอยู่ใน items หรือไม่
                    var isDuplicate = $scope.items.some(function(existingItem) {
                        return existingItem.label === $scope.changeitem.label &&
                            existingItem.name === $scope.changeitem.name &&
                            existingItem.position === $scope.changeitem.position;
                    });
                    if (!isDuplicate) {
                        $scope.items.push($scope.changeitem);
                    }
                }
                var index = $scope.items.indexOf(item);
                if (index !== -1) {
                    $scope.items.splice(index, 1);
                }                
                $scope.date = 'open';
                $scope.changeitem = item;                
                console.log($scope.changeitem);
                console.log($scope.items);
            }

            $scope.changemode_date_close = function(){
                $scope.items.push($scope.changeitem);
                $scope.date = 'close';
            }
            
        }
    ]);
</script>