<!-- <div th:replace="core/admin-lte-3/workspace/hr/negotiate/script/date-entry-controller"></div> -->
<div th:replace="core/admin-lte-3/workspace/hr/interview/script/date-entry-controller"></div>

<script th:inline="javascript">
    app.controller("interviewController", ["$scope", "$http", ($scope, $http) => {

        $scope.isLoading = false;
        $scope.criteria = {};
        $scope.mode = "list"; // ["list", "addDate" , "detail","negotiate"]
        $scope.read = "close";
        $scope.selectedCandidateProfile;
        //$scope.candidates = [];
        $scope.category = "";
        $scope.detailMode = ""; // ["detail", "edit"]
        $scope.interviewMode = ""; // ["detail", "entry"]
        $scope.selectedStartTime = null;
        $scope.selectedEndTime = 19;
        $scope.date = "close";

        $scope.candidates = [
            { id: "1", firstName: 'arin', lastName: 'test1', job_position: "Developer", day: "24/06/23", startTime: "8 PM", endTime: "9 PM", interview_status: "round2" },
            { id: "2", firstName: 'peet', lastName: 'terst2', job_position: "Developer", day: "24/06/23", startTime: "8 PM", endTime: "9 PM", interview_status: "round1" },
            { id: "57", firstName: 'arin', lastName: 'test1', job_position: "Developer", day: "24/06/23", startTime: "8 PM", endTime: "9 PM", interview_status: "round2" },
            { id: "42", firstName: 'arin', lastName: 'test2', job_position: "Developer", day: null, startTime: null, endTime: null, interview_status: "null" },
            { id: "52", firstName: 'arin', lastName: 'test2', job_position: "Developer", day: null, startTime: null, endTime: null, interview_status: "null" },
            { id: "5", firstName: 'arin', lastName: 'test2', job_position: "Developer", day: null, startTime: null, endTime: null, interview_status: "null" },
            { id: "3", firstName: 'arin', lastName: 'test2', job_position: "Developer", day: "24/06/23", startTime: "8 PM", endTime: "9 PM", interview_status: "round1" },
            { id: "427", firstName: 'arin', lastName: 'test1', job_position: "Developer", day: "24/06/23", startTime: "8 PM", endTime: "9 PM", interview_status: "success" },
            { id: "9", firstName: 'peet', lastName: 'terst2', job_position: "Developer", day: "24/06/23", startTime: "8 PM", endTime: "9 PM", interview_status: "round3" },
            { id: "10", firstName: 'peet', lastName: 'terst2', job_position: "hr", day: "24/06/23", startTime: "8 PM", endTime: "9 PM", interview_status: "round2" },
        ];

        $scope.score = [
            { id: "1" },
            { id: "2" },
            { id: "3" },
            { id: "4" },
            { id: "5" },
            { id: "6" },
            { id: "7" },
            { id: "8" },
            { id: "9" },
            { id: "10" },

        ];


        $scope.timeOptions = [
            { id: "1", name: "09:00" },
            { id: "2", name: "09:30" },
            { id: "3", name: "10:00" },
            { id: "4", name: "10:30" },
            { id: "5", name: "11:00" },
            { id: "6", name: "11:30" },
            { id: "7", name: "12:00" },
            { id: "8", name: "12:30" },
            { id: "9", name: "13:00" },
            { id: "10", name: "13:30" },
            { id: "11", name: "14:00" },
            { id: "12", name: "14:30" },
            { id: "13", name: "15:00" },
            { id: "14", name: "15:30" },
            { id: "15", name: "16:00" },
            { id: "16", name: "16:30" },
            { id: "17", name: "17:00" },
            { id: "18", name: "17:30" },
            { id: "19", name: "18:00" },


        ];

        $scope.init = function () {
            useDateEntryController($scope, $http);

            $('.select2').select2({ theme: 'bootstrap4' });

            $('#startDatePicker').datetimepicker({
                format: 'YYYY-MM-DD'
            });

            $('#entryInterviewDatePicker').datetimepicker({
                format: 'YYYY-MM-DD',
            });

        };

        $scope.selectStartTime = function (time) {
            if (!$scope.selectedEndTime || time < $scope.selectedEndTime) {
                $scope.selectedStartTime = time;
                console.log(time);
            }
        };

        $scope.selectEndTime = function (time) {
            if (!$scope.selectedStartTime || time > $scope.selectedStartTime) {
                $scope.selectedEndTime = time;
                console.log(time);
            }
        };

        $scope.sortCandidatesById = function (candidate) {
            return parseInt(candidate.id);
        };

        $scope.setDatetime = function (candidate) {
            candidate.datetime = new Date();
        };

        $scope.goSetDateNegotiate = function (candidate) {
            $scope.selectedCandidateProfile = candidate;
            $scope.date = "open";

        }

        $scope.toListMode = function () {
            $scope.date = "close";
            $scope.mode = 'list';

        };

        $scope.toDetailMode = function (candidate) {
            $scope.selectedCandidateProfile = candidate;
            $scope.mode = 'detail';
            $scope.detailMode = 'detail';
        };

        $scope.toEditMode = function (candidate) {
            $scope.selectedCandidateProfile = candidate;
            $scope.detailMode = 'edit';
        };


        $scope.toEntryInterviewMode = function (candidate) {
            $scope.selectedCandidateProfile = candidate;
            $scope.mode = 'interview';
            $scope.interviewMode = 'entry';
        };

        $scope.toDetailInterviewMode = function (candidate) {
            $scope.selectedCandidateProfile = candidate;
            $scope.mode = 'interview';
            $scope.interviewMode = 'detail';
        };

        $scope.setDateNegotiate = function (candidate) {

            candidate.datetime = "";
        };

        $scope.isShowInterviewRoundOne = function (candidate) {
            return () => {
                return ($scope.candidate.interview_status == "round1")
            };
        };

        $scope.isShowInterviewRoundTwo = function (candidate) {
            return () => {
                return ($scope.candidate.interview_status == "round2")
            };
        };
        $scope.isShowInterviewRoundThree = function (candidate) {
            return () => {
                return ($scope.candidate.interview_status == "round3")
            };
        };

        $scope.resetFormDate = function () {
            setTimeout(() => {

                $scope.dateForm.$submitted = false;
                $scope.dateForm.$setUntouched();
                $scope.dateForm.$setPristine();

                // $scope.dateForm.startTime.$setUntouched();
                // $scope.dateForm.startTime.$setPristine();

                $scope.$apply();

            }, 0);
        };

        $scope.resetFormNegotiate = function () {
            setTimeout(() => {
                $scope.negotiateForm.$submitted = false;

                // $scope.negotiateForm.$setUntouched();
                // $scope.negotiateForm.$setPristine();

                $scope.negotiateForm.job_position.$setUntouched();
                $scope.negotiateForm.job_position.$setPristine();

                $scope.negotiateForm.business.$setUntouched();
                $scope.negotiateForm.business.$setPristine();

                $scope.negotiateForm.direct_to.$setUntouched();
                $scope.negotiateForm.direct_to.$setPristine();

                $scope.negotiateForm.consult.$setUntouched();
                $scope.negotiateForm.consult.$setPristine();

                $scope.negotiateForm.job_description.$setUntouched();
                $scope.negotiateForm.job_description.$setPristine();

                $scope.negotiateForm.mission.$setUntouched();
                $scope.negotiateForm.mission.$setPristine();

                $scope.negotiateForm.kpi.$setUntouched();
                $scope.negotiateForm.kpi.$setPristine();

                $scope.negotiateForm.work_day.$setUntouched();
                $scope.negotiateForm.work_day.$setPristine();

                $scope.negotiateForm.work_time.$setUntouched();
                $scope.negotiateForm.work_time.$setPristine();

                $scope.negotiateForm.start_work_date.$setUntouched();
                $scope.negotiateForm.start_work_date.$setPristine();

                $scope.negotiateForm.negotiate_type.$setUntouched();
                $scope.negotiateForm.negotiate_type.$setPristine();

                $scope.negotiateForm.benefit.$setUntouched();
                $scope.negotiateForm.benefit.$setPristine();

                $scope.$apply();
            }, 0);
        };


    }]);
</script>