<div th:replace="core/admin-lte-3/workspace/hr/interview/script/date-entry-controller"></div>
<div th:replace="core/admin-lte-3/workspace/hr/interview/script/controller-detail-entry"></div>
<div th:replace="core/admin-lte-3/workspace/hr/interview/script/controller-question"></div>

<script th:inline="javascript">
    app.controller("interviewController", ["$scope", "$http", ($scope, $http) => {

        $scope.isLoading = false;
        $scope.criteria = {};
        $scope.mode = "list"; // ["list", "addDate" , "detail"]
        $scope.read = "close";
        $scope.selectedCandidateProfile;
        //$scope.candidates = [];
        $scope.category = "";
        $scope.detailMode = ""; // ["detail", "edit"]
        $scope.interviewMode = ""; // ["detail", "entry"]
        $scope.selectedStartTime = null;
        $scope.selectedEndTime = 19;
        $scope.date = "close";
        $scope.id = "";
        $scope.table_date = false;
        $scope.month_date = false;
        var currentDate = new Date();
        $scope.year_date = currentDate.getFullYear();
        var currentMonth = currentDate.getMonth();
        $scope.selectedTab = ['interview', 'interview', 'interview'];

        $scope.expandOption = ['partialOpened', 'partialOpened', 'partialOpened'];

        $scope.candidates = [
            { id: "1", firstName: 'arin', lastName: 'test1', job_position: "Developer", day: "24/06/2023", startTime: "8 PM", endTime: "9 PM", interview_status: "round2" },
            { id: "2", firstName: 'peet', lastName: 'terst2', job_position: "Developer", day: "24/06/2023", startTime: "8 PM", endTime: "9 PM", interview_status: "round1" },
            { id: "57", firstName: 'arin', lastName: 'test1', job_position: "Developer", day: "24/06/2023", startTime: "8 PM", endTime: "9 PM", interview_status: "round2" },
            { id: "42", firstName: 'arin', lastName: 'test2', job_position: "Developer", day: null, startTime: null, endTime: null, interview_status: "null" },
            { id: "52", firstName: 'arin', lastName: 'test2', job_position: "Developer", day: null, startTime: null, endTime: null, interview_status: "null" },
            { id: "5", firstName: 'arin', lastName: 'test2', job_position: "Developer", day: null, startTime: null, endTime: null, interview_status: "null" },
            { id: "3", firstName: 'arin', lastName: 'test2', job_position: "Developer", day: "24/06/2023", startTime: "8 PM", endTime: "9 PM", interview_status: "round1" },
            { id: "427", firstName: 'arin', lastName: 'test1', job_position: "Developer", day: "24/06/2023", startTime: "8 PM", endTime: "9 PM", interview_status: "success" },
            { id: "9", firstName: 'peet', lastName: 'terst2', job_position: "Developer", day: "24/06/2023", startTime: "8 PM", endTime: "9 PM", interview_status: "round3" },
            { id: "10", firstName: 'peet', lastName: 'terst2', job_position: "hr", day: "24/06/2023", startTime: "8 PM", endTime: "9 PM", interview_status: "round2" },
        ];

        $scope.score = [
            { id: "1" },
            { id: "2" },
            { id: "3" },
            { id: "4" },
            { id: "5" },
            { id: "6" },
            { id: "7" },
            { id: "8" },
            { id: "9" },
            { id: "10" },

        ];

        $scope.levels = [
            { name: "Officer Level 1" },
            { name: "Officer Level 2" },
            { name: "Officer Level 3" },
            { name: "Supervisor Level 1" },
            { name: "Supervisor Level 2" },
            { name: "Supervisor Level 3" },
            { name: "Manager Level 1" },
            { name: "Manager Level 2" },
            { name: "Manager Level 3" },
            { name: "Executive Level 1" },
            { name: "Executive Level 2" },
            { name: "Executive Level 3" },
          
          

        ];

        $scope.timeOptions = [
            { id: "1", name: "09:00" },
            { id: "2", name: "09:30" },
            { id: "3", name: "10:00" },
            { id: "4", name: "10:30" },
            { id: "5", name: "11:00" },
            { id: "6", name: "11:30" },
            { id: "7", name: "12:00" },
            { id: "8", name: "12:30" },
            { id: "9", name: "13:00" },
            { id: "10", name: "13:30" },
            { id: "11", name: "14:00" },
            { id: "12", name: "14:30" },
            { id: "13", name: "15:00" },
            { id: "14", name: "15:30" },
            { id: "15", name: "16:00" },
            { id: "16", name: "16:30" },
            { id: "17", name: "17:00" },
            { id: "18", name: "17:30" },
            { id: "19", name: "18:00" },
        ];

        $scope.questions1 = [
            { id: 1, text: 'แนะนำตัว', answer: '' },
            { id: 2, text: 'เนื่องจากบริษัทเราเป็น start up ของคนรุ่นใหม่ ถ้าต้องไปช่วยทีมอื่นทำในงานที่เร่งด่วนกว่า หรือต้องมีการปรับเปลี่ยนตำแหน่งจะรู้สึกยังไง', answer: '' },
            { id: 3, text: 'งานที่เคยทำมา', answer: '' },
            { id: 4, text: 'เหตุผลที่ลาออก', answer: '' },
            { id: 5, text: 'เข้ามาแล้ว จะสร้าง % การ Growth ได้กี่เท่าตัว (Management)', answer: '' },
            { id: 6, text: 'เป้าหมายทีม + เข้าเป็นส่วนไหนของทีม', answer: '' },
            { id: 7, text: 'ทำได้กี่ชิ้นต่อนาที / ต่ออาทิตย์ / ต่อเดือน (Officer)', answer: '' },
            { id: 8, text: 'คนอื่นมักจะบอกว่าคุณเป็นคนยังไง ?', answer: '' },
            { id: 9, text: 'คุณเคยสร้างหรือปั้นน้องคนไหนบ้างไหม และปั้นด้วยวิธีไหน? (Management)', answer: '' },
            { id: 10, text: 'ปัญหาที่เคยพบในการทำงาน และวิธีแก้ไข', answer: '' },
            { id: 11, text: 'เคยเจอเหตุการน้องในทีม/เพื่อนที่ทำงานไม่สามารถก้าวข้ามอุปสรรคการทำงานของตัวเองบ้างไหม เล่าให้ฟังหน่อยว่าทำอย่างไรบ้าง? (Management)', answer: '' },
            { id: 12, text: 'Success case', answer: '' },
            { id: 13, text: 'ทำไมถึงเลือกสมัครงานกับเรา', answer: '' },
            { id: 14, text: 'ความกดดันหนักสุดที่เคยเจอมา', answer: '' },
            { id: 15, text: 'ชอบหรือไม่ชอบวัฒนธรรมองค์กรเราข้อไหน ยังไง', answer: '' },
            { id: 16, text: 'บอกข้อดี ข้อเสียของตัวเอง : (ในการ์ดไม่มี)', answer: '' },
            { id: 17, text: 'อื่นๆ : (ในการ์ดไม่มี)', answer: '' }
        ];


        $scope.questions2 = [
            { id: 1, text: 'แนะนำตัว', answer: '' },
            { id: 2, text: 'เนื่องจากบริษัทเราเป็น start up ของคนรุ่นใหม่ ถ้าต้องไปช่วยทีมอื่นทำในงานที่เร่งด่วนกว่า หรือต้องมีการปรับเปลี่ยนตำแหน่งจะรู้สึกยังไง', answer: '' },
            { id: 3, text: 'งานที่เคยทำมา', answer: '' },
            { id: 4, text: 'เหตุผลที่ลาออก', answer: '' },
            { id: 5, text: 'เข้ามาแล้ว จะสร้าง % การ Growth ได้กี่เท่าตัว (Management)', answer: '' },
            { id: 6, text: 'เป้าหมายทีม + เข้าเป็นส่วนไหนของทีม', answer: '' },
            { id: 7, text: 'ทำได้กี่ชิ้นต่อนาที / ต่ออาทิตย์ / ต่อเดือน (Officer)', answer: '' },
            { id: 8, text: 'คนอื่นมักจะบอกว่าคุณเป็นคนยังไง ?', answer: '' },
            { id: 9, text: 'คุณเคยสร้างหรือปั้นน้องคนไหนบ้างไหม และปั้นด้วยวิธีไหน? (Management)', answer: '' },
            { id: 10, text: 'ปัญหาที่เคยพบในการทำงาน และวิธีแก้ไข', answer: '' },
            { id: 11, text: 'เคยเจอเหตุการน้องในทีม/เพื่อนที่ทำงานไม่สามารถก้าวข้ามอุปสรรคการทำงานของตัวเองบ้างไหม เล่าให้ฟังหน่อยว่าทำอย่างไรบ้าง? (Management)', answer: '' },
            { id: 12, text: 'Success case', answer: '' },
            { id: 13, text: 'ทำไมถึงเลือกสมัครงานกับเรา', answer: '' },
            { id: 14, text: 'ความกดดันหนักสุดที่เคยเจอมา', answer: '' },
            { id: 15, text: 'ชอบหรือไม่ชอบวัฒนธรรมองค์กรเราข้อไหน ยังไง', answer: '' },
            { id: 16, text: 'บอกข้อดี ข้อเสียของตัวเอง : (ในการ์ดไม่มี)', answer: '' },
            { id: 17, text: 'อื่นๆ : (ในการ์ดไม่มี)', answer: '' }
        ];


        $scope.rows = [
            { name: 'Growth mindset', percent: 80, credit: 3 },
            { name: 'Proactive', percent: 90, credit: 4 },
            { name: 'Leadership', percent: 80, credit: 3 },
            { name: 'วุฒิภาวะทางอารมณ์', percent: 90, credit: 4 },
            { name: 'การรับมือกับปัญหา', percent: 80, credit: 3 },
            { name: 'Structural thinking', percent: 90, credit: 4 },
            { name: 'Critical thinking', percent: 80, credit: 3 },
            { name: 'Logic', percent: 90, credit: 4 },
            { name: 'การเจรจาต่อรอง', percent: 80, credit: 3 },
            { name: 'การโน้มน้าว', percent: 90, credit: 4 },
            { name: 'Data analysis', percent: 90, credit: 4 },

        ];

        $scope.datedays = [];

        $scope.generateDays = function (month) {
            var currentDate = new Date();
            var year = $scope.year_date;

            var firstDay = new Date(year, month, 1);
            var startDay = firstDay.getDay() + 1; // 0 = Sunday, 1 = Monday, ...

            var daysInMonth = new Date(year, month + 1, 0).getDate();

            var week = {};
            var dayIndex = startDay === 0 ? 7 : startDay; // 1 = Monday, ..., 7 = Sunday
            for (var i = 1; i <= daysInMonth; i++) {
                var weekIndex = Math.floor((dayIndex - 1) / 7);
                var dayKey = 'day' + ((dayIndex - 1) % 7 + 1);

                if (!$scope.datedays[weekIndex]) {
                    $scope.datedays[weekIndex] = {};
                }
                $scope.datedays[weekIndex][dayKey] = i;

                dayIndex++;
            }
        };

        $scope.datemonths = [
            { key: 0, value: 'January' },
            { key: 1, value: 'February' },
            { key: 2, value: 'March' },
            { key: 3, value: 'April' },
            { key: 4, value: 'May' },
            { key: 5, value: 'June' },
            { key: 6, value: 'July' },
            { key: 7, value: 'August' },
            { key: 8, value: 'September' },
            { key: 9, value: 'October' },
            { key: 10, value: 'November' },
            { key: 11, value: 'December' }
        ];

        $scope.fullMonth = $scope.datemonths[currentMonth].value;

        $scope.init = function () {
            useDateEntryController($scope, $http);
            useDetailControllerEntry($scope, $http);
            useInterviewControllerEntry($scope, $http);
            $('.select2').select2({ theme: 'bootstrap4' });

            $('#startDatePicker').datetimepicker({
                format: 'YYYY-MM-DD'
            });

            $('#entryInterviewDatePicker').datetimepicker({
                format: 'YYYY-MM-DD',
            });
        };

        $scope.selectStartTime = function (time) {
            if (!$scope.selectedEndTime || time < $scope.selectedEndTime) {
                $scope.selectedStartTime = time;
                console.log(time);
            }
        };

        $scope.selectEndTime = function (time) {
            if (!$scope.selectedStartTime || time > $scope.selectedStartTime) {
                $scope.selectedEndTime = time;
                console.log(time);
            }
        };

        $scope.sortCandidatesById = function (candidate) {
            return parseInt(candidate.id);
        };

        $scope.setDatetime = function (candidate) {
            candidate.datetime = new Date();
        };

        $scope.goSetDateInterview = function (candidate) {
            $scope.selectedCandidateProfile = candidate;
            $scope.date = "open";

        }

        $scope.toListMode = function () {
            $scope.selectedCandidateProfile = null;
            $scope.date = "close";
            $scope.mode = 'list';

        };

        $scope.toDetailMode = function (candidate) {
            $scope.selectedCandidateProfile = candidate;
            $scope.mode = 'detail';
            $scope.detailMode = 'detail';
        };

        $scope.toEditMode = function (candidate) {
            $scope.selectedCandidateProfile = candidate;
            $scope.detailMode = 'edit';
        };


        $scope.toEntryInterviewMode = function (candidate) {
            $scope.selectedCandidateProfile = candidate;
            $scope.mode = 'interview';
            $scope.interviewMode = 'entry';
        };

        $scope.toDetailInterviewMode = function (candidate) {
            $scope.selectedCandidateProfile = candidate;
            $scope.mode = 'interview';
            $scope.interviewMode = 'detail';
        };

        $scope.isShowInterviewRoundOne = function (candidate) {
            return () => {
                return ($scope.candidate.interview_status == "round1")
            };
        };

        $scope.isShowInterviewRoundTwo = function (candidate) {
            return () => {
                return ($scope.candidate.interview_status == "round2")
            };
        };
        $scope.isShowInterviewRoundThree = function (candidate) {
            return () => {
                return ($scope.candidate.interview_status == "round3")
            };
        };

        $scope.toggleTab = function (interview,tab) {
            if ($scope.selectedTab[interview] === tab) {
                $scope.selectedTab[interview] = tab; // Collapse the currently selected tab
            } else {
                $scope.selectedTab[interview] = tab; // Expand the selected tab
            }
        };

        $scope.isTabSelected = function (interview,tab) {
            return $scope.selectedTab[interview] === tab;
        };

        $scope.expandOptionIcon = function (card) {
            switch ($scope.expandOption[card]) {
                case 'partialOpened':
                    return "fa-plus";
                case 'fullyOpened':
                    return "fa-minus";
                case 'closed':
                    return "fa-minus";
                default:
                    return "fa-plus";
            }
        };

        $scope.getCardWidgetOnCard = function (card) {
            switch ($scope.expandOption[card]) {
                case 'partialOpened':
                    return 'collapse';
                case 'fullyOpened':
                    return '';
                case 'closed':
                    return 'collapse';
                case 'fullyOpenedInCorrectInterview':
                    return 'collapse';
                default:
                    return '';
            }
        };

        $scope.clickExpandRotate = function (card, roundInterview, roundDisplay) {

            if (roundInterview != roundDisplay) {
                if ($scope.expandOption[card] === "partialOpened") {
                    $scope.expandOption[card] = "fullyOpened"; console.log($scope.expandOption[card]);
                }
                else if ($scope.expandOption[card] == "fullyOpened") {
                    $scope.expandOption[card] = "closed"; console.log($scope.expandOption[card]);
                }
                else {
                    $scope.expandOption[card] = "partialOpened"; console.log($scope.expandOption[card]);
                }
            }

            else {
                if ($scope.expandOption[card] === "closed") {
                    $scope.expandOption[card] = "fullyOpenedInCorrectInterview"; console.log($scope.expandOption[card]);
                }

                else if ($scope.expandOption[card] === "fullyOpenedInCorrectInterview") {
                    $scope.expandOption[card] = "closed"; console.log($scope.expandOption[card]);
                }
                else {
                    $scope.expandOption[card] = "fullyOpenedInCorrectInterview"; console.log($scope.expandOption[card]);
                }
            }

        };


        $scope.resetFormDate = function () {
            setTimeout(() => {

                $scope.dateForm.$submitted = false;
                $scope.dateForm.$setUntouched();
                $scope.dateForm.$setPristine();

                // $scope.dateForm.startTime.$setUntouched();
                // $scope.dateForm.startTime.$setPristine();

                $scope.$apply();

            }, 0);
        };

        $scope.calculateWeightedAverage = function () {
            var totalWeight = 0;
            var weightedSum = 0;

            for (var i = 0; i < $scope.rows.length; i++) {
                var row = $scope.rows[i];
                var weight = row.percent * row.credit;

                totalWeight += row.credit;
                weightedSum += weight;
            }

            if (totalWeight > 0) {
                console.log(totalWeight);
                console.log(weightedSum);
                $scope.weightedAverage = weightedSum / totalWeight;

            } else {
                $scope.weightedAverage = 0;
            }

        };

        $scope.$watch('rows', function (newRows, oldRows) {
            console.log("weight update");
            if (newRows !== oldRows) {
                $scope.calculateWeightedAverage();
            }
        }, true);

        $scope.preventNegativeNumbers = function (event) {
            // prevent negative number | key 45 = "-"
            if (event.keyCode === 45) {
                event.preventDefault();
            }
        };

        $scope.tables_date = function () {
            $scope.generateDays(currentMonth);
            $scope.table_date = true;
            $scope.month_date = false;
        }

        $scope.months_date = function () {
            $scope.month_date = !$scope.month_date;
            $scope.table_date = !$scope.table_date;
        }

        $scope.nextmonth = function () {
            if (currentMonth < 11) {
                currentMonth++;
                $scope.datedays = [];
                console.log(currentMonth);
                $scope.fullMonth = $scope.datemonths[currentMonth].value;
                $scope.generateDays(currentMonth);
            } else if (currentMonth >= 11) {
                $scope.year_date++;
                currentMonth = 0;
                $scope.datedays = [];
                console.log(currentMonth);
                console.log($scope.year_date);
                $scope.fullMonth = $scope.datemonths[currentMonth].value;
                $scope.generateDays(currentMonth);
            }
        }
        $scope.backmonth = function () {
            if (currentMonth > 0) {
                currentMonth--;
                $scope.datedays = [];
                console.log(currentMonth);
                $scope.fullMonth = $scope.datemonths[currentMonth].value;
                $scope.generateDays(currentMonth);
            } else if (currentMonth <= 0) {
                $scope.year_date--;
                currentMonth = 11;
                $scope.datedays = [];
                console.log(currentMonth);
                console.log($scope.year_date);
                $scope.fullMonth = $scope.datemonths[currentMonth].value;
                $scope.generateDays(currentMonth);
            }
        }

        $scope.btnsum = function(day){
            $scope.selectedCandidateProfile.day = day+"/"+(currentMonth+1)+"/"+$scope.year_date;
            console.log($scope.selectedCandidateProfile.day);
        }

        $scope.change_month = function (month) {
            currentMonth = month;
            $scope.fullMonth = $scope.datemonths[currentMonth].value;
            $scope.datedays = [];
            $scope.generateDays(currentMonth);
            $scope.months_date();
        }

    }]);
</script>