<div class="card">
    <div class="card-header">
        <h3 class="card-title text-maroon">ระบุเงื่อนไขการค้นหา</h3>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>คอร์ส</label>
                    <select class="form-control" ng-model="criteria.courseId">
                        <option value="" selected>--- กรุณาเลือกคอร์ส ---</option>
                        <option ng-repeat="courseProfile in courseProfiles" ng-value="courseProfile.course.id">
                            {{ courseProfile.course.name }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>นักเรียน</label>
                    <select class="form-control" ng-model="criteria.studentId">
                        <option value="" selected>--- กรุณาเลือกนักเรียน ---</option>
                        <option ng-repeat="student in students | orderBy: 'seqNo'" ng-value="student.id">
                            {{ student.firstName }} {{ student.lastName }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="text-right">
            <button class="btn btn-outline-success" ng-click="requestAddCourseOrder()">
                <i class="fa fa-plus"></i> เพิ่มข้อมูล
            </button>
            <button class="btn btn-outline-primary" ng-click="search()">
                <i class="fa fa-search"></i> ค้นหา
            </button>
        </div>
    </div>
</div>