<div class="card">
    <!-- card-header -->
    <div class="card-header">
        <h3 class="card-title text-maroon">รีวิวการลงทะเบียนข้อมูลนักเรียน</h3>
    </div>
    <!-- /.card-header -->

    <!-- card-body -->
    <div class="card-body p-2">
        <!-- user -->
        <div class="card card-navy">
            <div class="card-header">
                <h3 class="card-title">ข้อมูลบัญชีเข้าใช้งานระบบ</h3>
            </div>
        
            <div class="card-body p-2">
                <form name="userForm" class="form row" novalidate>
                    <div class="col-md-6">
                        <div class="form-group border rounded p-2">
                            <label>
                                <span class="text-danger">*</span>
                                <span ng-show="!isShowEmailError()">อีเมล์</span>
                                <span class="text-danger" ng-show="isShowEmailError()">กรุณาระบุอีเมล์</span>
                            </label>
                            <input 
                                name="email" 
                                type="text" 
                                class="form-control" 
                                ng-class="{'is-invalid': isShowEmailError()}" 
                                placeholder="ระบุอีเมล์" 
                                ng-model="selectedStudentRegister.email" 
                                required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group border rounded p-2">
                            <label>
                                <span class="text-danger">*</span>
                                <span ng-show="!isShowPasswordError()">รหัสผ่าน</span>
                                <span class="text-danger" ng-show="isShowPasswordError()">กรุณาระบุรหัสผ่าน</span>
                            </label>
                            <input 
                                name="password" 
                                type="password" 
                                class="form-control" 
                                ng-class="{'is-invalid': isShowPasswordError()}" 
                                placeholder="ระบุรหัสผ่าน" 
                                ng-model="selectedStudentRegister.password" 
                                required>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- user -->

        <!-- student -->
        <div class="card card-navy">
            <div class="card-header">
                <h3 class="card-title">ข้อมูลส่วนตัว</h3>
            </div>
        
            <div class="card-body p-2">
                <form name="studentForm" class="form row" novalidate>
                    <div class="col-md-6">
                        <div class="form-group border rounded p-2">
                            <label>
                                <span class="text-danger">*</span>
                                <span ng-show="!isShowFirstNameError()">ชื่อ</span>
                                <span class="text-danger" ng-show="isShowFirstNameError()">กรุณาระบุชื่อ</span>
                            </label>
                            <input 
                                name="firstName" 
                                type="text" 
                                class="form-control" 
                                ng-class="{'is-invalid': isShowFirstNameError()}" 
                                placeholder="ระบุชื่อ" 
                                ng-model="selectedStudentRegister.firstName" 
                                required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group border rounded p-2">
                            <label>
                                <span class="text-danger">*</span>
                                <span ng-show="!isShowLastNameError()">นามสกุล</span>
                                <span class="text-danger" ng-show="isShowLastNameError()">กรุณาระบุนามสกุล</span>
                            </label>
                            <input 
                                name="lastName" 
                                type="text" 
                                class="form-control" 
                                ng-class="{'is-invalid': isShowLastNameError()}" 
                                placeholder="ระบุนามสกุล" 
                                ng-model="selectedStudentRegister.lastName" 
                                required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group border rounded p-2">
                            <label>
                                <span class="text-danger">*</span>
                                <span ng-show="!isShowNickNameError()">ชื่อเล่น</span>
                                <span class="text-danger" ng-show="isShowNickNameError()">กรุณาระบุชื่อเล่น</span>
                            </label>
                            <input 
                                name="nickName" 
                                type="text" 
                                class="form-control" 
                                ng-class="{'is-invalid': isShowNickNameError()}" 
                                placeholder="ระบุชื่อเล่น" 
                                ng-model="selectedStudentRegister.nickName" 
                                required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group border rounded p-2">
                            <label>
                                <span class="text-danger">*</span>
                                <span ng-show="!isShowGenderError()">เพศ</span>
                                <span class="text-danger" ng-show="isShowGenderError()">กรุณาเลือกเพศ</span>
                            </label>
                            <select name="gender" class="form-control" ng-model="selectedStudentRegister.genderId">
                                <option value="" selected disabled>--- เลือกเพศ ---</option>
                                <option value="male">ชาย</option>
                                <option value="female">หญิง</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group border rounded p-2">
                            <label>
                                <span class="text-danger">*</span>
                                <span ng-show="!isShowMobileNoError()">เบอร์มือถือ</span>
                                <span class="text-danger" ng-show="isShowMobileNoError()">กรุณาระบุเบอร์มือถือ</span>
                            </label>
                            <input 
                                name="mobileNo" 
                                type="text" 
                                class="form-control" 
                                ng-class="{'is-invalid': isShowMobileNoError()}" 
                                placeholder="ระบุเบอร์มือถือ" 
                                ng-model="selectedStudentRegister.mobileNo" 
                                required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group border rounded p-2">
                            <label>
                                <span class="text-danger">*</span>
                                <span ng-show="!isShowContactAddressError()">ที่อยู่ปัจจุบัน</span>
                                <span class="text-danger" ng-show="isShowContactAddressError()">กรุณาระบุที่อยู่ปัจจุบัน</span>
                            </label>
                            <textarea 
                                    name="contactAddress" 
                                    class="form-control" 
                                    rows="3" 
                                    ng-class="{'is-invalid': isShowContactAddressError()}" 
                                    ng-model="selectedStudentRegister.contactAddress" 
                                    required>
                            </textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- student -->

        <!-- parent -->
        <div class="card card-navy">
            <div class="card-header">
                <h3 class="card-title">ข้อมูลผู้ปกครอง</h3>
            </div>
        
            <div class="card-body p-2">
                <form name="parentForm" class="form row" novalidate>
                    <div class="col-md-6">
                        <div class="form-group border rounded p-2">
                            <label>
                                <span class="text-danger">*</span>
                                <span ng-show="!isShowParentNameError()">ชื่อ</span>
                                <span class="text-danger" ng-show="isShowParentNameError()">กรุณาระบุชื่อ</span>
                            </label>
                            <input 
                                name="name" 
                                type="text" 
                                class="form-control" 
                                ng-class="{'is-invalid': isShowParentNameError()}" 
                                placeholder="ระบุชื่อ" 
                                ng-model="selectedStudentRegister.parentName" 
                                required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group border rounded p-2">
                            <label>
                                <span class="text-danger">*</span>
                                <span ng-show="!isShowParentMobileNoError()">เบอร์มือถือ</span>
                                <span class="text-danger" ng-show="isShowParentMobileNoError()">กรุณาระบุเบอร์มือถือ</span>
                            </label>
                            <input 
                                name="mobileNo" 
                                type="text" 
                                class="form-control" 
                                ng-class="{'is-invalid': isShowParentMobileNoError()}" 
                                placeholder="ระบุเบอร์มือถือ" 
                                ng-model="selectedStudentRegister.parentMobileNo" 
                                required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group border rounded p-2">
                            <label>
                                <span class="text-danger">*</span>
                                <span ng-show="!isShowParentJobError()">อาชีพ</span>
                                <span class="text-danger" ng-show="isShowParentJobError()">กรุณาระบุอาชีพ</span>
                            </label>
                            <input 
                                name="job" 
                                type="text" 
                                class="form-control" 
                                ng-class="{'is-invalid': isShowParentJobError()}" 
                                placeholder="ระบุอาชีพ" 
                                ng-model="selectedStudentRegister.parentJob" 
                                required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group border rounded p-2">
                            <label>
                                <span class="text-danger">*</span>
                                <span ng-show="!isShowParentExpectationError()">ความคาดหวัง</span>
                                <span class="text-danger" ng-show="isShowParentExpectationError()">กรุณาระบุความคาดหวัง</span>
                            </label>
                            <textarea 
                                name="expectation" 
                                rows="3" 
                                class="form-control" 
                                ng-class="{'is-invalid': isShowParentExpectationError()}" 
                                placeholder="ระบุความคาดหวัง" 
                                ng-model="selectedStudentRegister.parentExpectation" 
                                required>
                            </textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- parent -->

        <!-- education -->
        <div class="card card-navy">
            <div class="card-header">
                <h3 class="card-title">ข้อมูลการศึกษา</h3>
            </div>
        
            <div class="card-body p-2">
                <form name="educationForm" class="form row" novalidate>
                    <div class="col-md-6">
                        <div class="form-group border rounded p-2">
                            <label>
                                <span class="text-danger">*</span>
                                <span ng-show="!isShowEducationSchoolError()">โรงเรียน</span>
                                <span class="text-danger" ng-show="isShowEducationSchoolError()">กรุณาระบุโรงเรียน</span>
                            </label>
                            <input 
                                name="school" 
                                type="text" 
                                class="form-control" 
                                ng-class="{'is-invalid': isShowEducationSchoolError()}" 
                                placeholder="ระบุโรงเรียน" 
                                ng-model="selectedStudentRegister.educationSchool" 
                                required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group border rounded p-2">
                            <label>
                                <span class="text-danger">*</span>
                                <span ng-show="!isShowEducationLevelError()">ระดับการศึกษา</span>
                                <span class="text-danger" ng-show="isShowEducationLevelError()">กรุณาเลือกระดับการศึกษา</span>
                            </label>
                            <select name="level" 
                                    class="form-control" 
                                    ng-class="{'is-invalid': isShowEducationLevelError()}" 
                                    ng-model="selectedStudentRegister.educationLevel" 
                                    required>
                                <option value="" selected disabled>--- เลือกระดับการศึกษา ---</option>
                                <option ng-repeat="educationLevel in educationLevels" ng-value="educationLevel">{{ educationLevel }}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- education -->
    </div>

    <div class="card-footer">
        <div class="text-right">
            <button class="btn btn-outline-primary" ng-click="toListMode()">
                <i class="fa fa-caret-left"></i> Back
            </button>

            <button class="btn btn-outline-danger" ng-click="requestReject()">
                <i class="fas fa-check"></i> Reject
            </button>

            <button class="btn btn-outline-success" ng-click="requestApprove()">
                <i class="fas fa-check"></i> Approve
            </button>
        </div>
    </div>
</div>