<div class="row">
    <div class="col-md-12">
        <!-- card-body -->
        <div class="card kws-card-border-top-dark">
            <!-- card-header -->
            <div class="card-header">
                <h5 class="card-title text-maroon">เมนู Fishsix | เซลล์</h5>
            </div>
            <!-- /.card-header -->

            <!-- card-body -->
            <div class="card-body">
                <div class="row">
                    
                    <div class="col-lg-3 col-md-4">
                        <a th:href="@{/views/workspace/fishsix/salesman/profile}" class="kws-app-menu-wrapper">
                            <div class="info-box mb-3 bg-indigo">
                                <span class="info-box-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Profile</span>
                                    <span class="info-box-number">ข้อมูลเซลล์</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 kws-app-menu-wrapper">
                        <a th:href="@{/views/workspace/fishsix/salesman/customer-follow}" class="kws-app-menu-wrapper">
                            <div class="info-box mb-3 bg-danger">
                                <span class="info-box-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Customer Followup</span>
                                    <span class="info-box-number">การติดตามลูกค้า</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>