<div class="card">
    <div class="card-header">
        <h3 class="card-title text-maroon">เพิ่ม/แก้ไขข้อมูลโปรไฟล์นักศึกษาฝึกงาน</h3>
    </div>

    <div class="card-body">
        <form name="educationMajorForm" class="form row" novalidate>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span class="text-danger">*</span>
                        <span ng-show="!isShowEducationFacultyError()">คณะวิชา</span>
                        <span class="text-danger" ng-show="isShowEducationFacultyError()">กรุณาเลือกคณะวิชา</span>
                    </label>
                    <select name="educationFaculty" class="form-control" ng-class="{'is-invalid': isShowEducationFacultyError()}" style="width: 100%;" ng-model="selectedEducationMajor.educationFacultyId" required>
                        <option value="" selected disabled>--- กรุณาเลือกคณะวิชา ---</option>
                        <option ng-repeat="educationFaculty in educationFaculties | orderBy: 'seqNo'" ng-value="educationFaculty.id">{{ educationFaculty.name }}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span class="text-danger">*</span>
                        <span ng-show="!isShowNameError()">ชื่อสาขาวิชา</span>
                        <span class="text-danger" ng-show="isShowNameError()">ชื่อสาขาวิชา</span>
                    </label>
                    <input name="name" type="text" class="form-control" ng-class="{'is-invalid': isShowNameError()}" placeholder="ระบุชื่อสาขาวิชา" ng-model="selectedEducationMajor.name" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span>รายละเอียด</span>
                    </label>
                    <textarea rows="5" class="form-control" placeholder="ระบุรายละเอียด" ng-model="selectedEducationMajor.description"></textarea>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-4">
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" th:src="@{/assets/template/admin-lte-3/img/user2-160x160.jpg}" alt="User profile picture">
                        </div>
        
                        <h3 class="profile-username text-center">Francesco Totti</h3>
        
                        <p class="text-muted text-center">นักศึกษาฝึกงาน</p>
        
                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>ชื่อเล่น</b> <a class="float-right">Totti</a>
                            </li>
                            <li class="list-group-item">
                                <b>เพศ</b> <a class="float-right">ชาย</a>
                            </li>
                            <li class="list-group-item">
                                <b>อายุ</b> <a class="float-right">20</a>
                            </li>
                        </ul>
        
                        <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
        
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">ข้อมูลการติดต่อ</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- <strong><i class="fas fa-book mr-1"></i> การศึกษา</strong>
                        <p class="text-muted">
                            กำลังศึกษา: ปีที่ 3 ภาควิชาวิทยาการคอมพิวเตอร์ คณะวิทยาศาสตร์ มหาวิทยาลัยสงขลานครินทร์
                        </p>
                        <hr> -->
        
                        <strong><i class="fas fa-mobile-alt mr-1 text-maroon"></i> โทร : </strong>
                        <span class="text-muted">0987765467</span>
                        <hr>
        
                        <strong><i class="fas fa-envelope-square mr-1 text-maroon"></i> อีเมล์ : </strong>
                        <span class="text-muted">0987765467</span>
                        <hr>
        
                        <strong><i class="fas fa-at mr-1 text-maroon"></i> ไลน์ ID : </strong>
                        <span class="text-muted">totti</span>
                        <hr>
        
                        <strong><i class="fas fa-map-marker-alt mr-1 text-maroon"></i> ที่อยู่ : </strong>
                        <span class="text-muted">Malibu, California</span>
                        <hr>
                    </div>
                    <!-- /.card-body -->
                </div>
        
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">ข้อมูลการศึกษา</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fas fa-map-marker-alt mr-1 text-maroon"></i> ระดับการศึกษา : </strong>
                        <span class="text-muted">มหาวิทยาลัย</span>
                        <hr>
        
                        <strong><i class="fas fa-map-marker-alt mr-1 text-maroon"></i> ระดับชั้น : </strong>
                        <span class="text-muted">ปี 3</span>
                        <hr>
        
                        <strong><i class="fas fa-map-marker-alt mr-1 text-maroon"></i> มหาวิทยาลัย : </strong>
                        <span class="text-muted">สงขลานครินทร์</span>
                        <hr>
        
                        <strong><i class="fas fa-map-marker-alt mr-1 text-maroon"></i> คณะ : </strong>
                        <span class="text-muted">วิทยาศาสตร์</span>
                        <hr>
        
                        <strong><i class="fas fa-map-marker-alt mr-1 text-maroon"></i> สาขาวิชา : </strong>
                        <span class="text-muted">วิทยาการคอมพิวเตอร์</span>
                        <hr>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        
            <!-- /.col -->
            <div class="col-md-8">
                <div class="card">
                    <!-- card-header -->
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tab-internInfo" data-toggle="tab">ข้อมูลการฝึกงาน</a>
                            </li>
                            <li class="nav-item d-none">
                                <a class="nav-link" href="#tab-education" data-toggle="tab">ประวัติการศึกษา</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-attachment" data-toggle="tab">เอกสารแนบ</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.card-header -->
        
                    <!-- card-body -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="tab-internInfo">
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">ประเภทการฝึกงาน</label>
                                        <div class="col-sm-8">
                                            <input type="email" class="form-control" id="inputName" placeholder="Name" value="สหกิจศึกษา" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-4 col-form-label">วันที่เริ่มฝึกงาน</label>
                                        <div class="col-sm-8">
                                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" value="20/06/2564" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName2" class="col-sm-4 col-form-label">วันที่สิ้นสุดการฝึกงาน</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputName2" placeholder="Name" value="31/08/2564" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputExperience" class="col-sm-4 col-form-label">ตำแหน่งที่สนใจสมัครฝึกงาน</label>
                                        <div class="col-sm-8">
                                            <ol>
                                                <li>Programmer</li>
                                                <li>System Analyst</li>
                                                <li>Tester</li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputSkills" class="col-sm-4 col-form-label">ทักษะ/ความสามารถ</label>
                                        <div class="col-sm-8">
                                            <ol>
                                                <li>Java Programming</li>
                                                <li>Springboot Framework</li>
                                                <li>AngularJS</li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">สถานที่สะดวกเดินทางไปฝึกงาน</label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" rows="3" disabled>Malibu, California</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName2" class="col-sm-4 col-form-label">บุคคลที่สามารถติดต่อได้ในกรณีฉุกเฉิน</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputName2" placeholder="Name" value="Alessandor Nesta (น้าชาย)" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputName2" class="col-sm-4 col-form-label">เบอร์โทรบุคคลที่สามารถติดต่อได้ในกรณีฉุกเฉิน</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputName2" placeholder="Name" value="07688905436" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row d-none">
                                        <div class="offset-sm-4 col-sm-8">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
        
                            <!-- /.tab-pane -->
                            <div class="tab-pane d-none" id="tab-education">
                                <!-- The timeline -->
                                <div class="timeline timeline-inverse">
                                    <!-- timeline time label -->
                                    <div class="time-label">
                                        <span class="bg-danger">
                                            10 Feb. 2014
                                        </span>
                                    </div>
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <div>
                                        <i class="fas fa-envelope bg-primary"></i>
        
                                        <div class="timeline-item">
                                            <span class="time"><i class="far fa-clock"></i> 12:05</span>
        
                                            <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
        
                                            <div class="timeline-body">
                                                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                                weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                                jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                                quora plaxo ideeli hulu weebly balihoo...
                                            </div>
                                            <div class="timeline-footer">
                                                <a href="#" class="btn btn-primary btn-sm">Read more</a>
                                                <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END timeline item -->
                                    <!-- timeline item -->
                                    <div>
                                        <i class="fas fa-user bg-info"></i>
        
                                        <div class="timeline-item">
                                            <span class="time"><i class="far fa-clock"></i> 5 mins ago</span>
        
                                            <h3 class="timeline-header border-0"><a href="#">Sarah Young</a> accepted your
                                                friend request
                                            </h3>
                                        </div>
                                    </div>
                                    <!-- END timeline item -->
                                    <!-- timeline item -->
                                    <div>
                                        <i class="fas fa-comments bg-warning"></i>
        
                                        <div class="timeline-item">
                                            <span class="time"><i class="far fa-clock"></i> 27 mins ago</span>
        
                                            <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
        
                                            <div class="timeline-body">
                                                Take me to your leader!
                                                Switzerland is small and neutral!
                                                We are more like Germany, ambitious and misunderstood!
                                            </div>
                                            <div class="timeline-footer">
                                                <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END timeline item -->
                                    <!-- timeline time label -->
                                    <div class="time-label">
                                        <span class="bg-success">
                                            3 Jan. 2014
                                        </span>
                                    </div>
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <div>
                                        <i class="fas fa-camera bg-purple"></i>
        
                                        <div class="timeline-item">
                                            <span class="time"><i class="far fa-clock"></i> 2 days ago</span>
        
                                            <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
        
                                            <div class="timeline-body">
                                                <img src="https://via.placeholder.com/150x100" alt="...">
                                                <img src="https://via.placeholder.com/150x100" alt="...">
                                                <img src="https://via.placeholder.com/150x100" alt="...">
                                                <img src="https://via.placeholder.com/150x100" alt="...">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END timeline item -->
                                    <div>
                                        <i class="far fa-clock bg-gray"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
        
                            <div class="tab-pane" id="tab-attachment">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title text-maroon">Resume</h3>
                                    </div>
                                
                                    <div class="card-body">
                                        <object data="https://sac.kku.ac.th/kmsac/word/w5.pdf" type="application/pdf" width="100%" height="760">
                                            Resume : <a href="https://sac.kku.ac.th/kmsac/word/w5.pdf">เปิด</a>
                                        </object>
                                    </div>
        
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <a href="https://sac.kku.ac.th/kmsac/word/w5.pdf" target="_blank" class="btn btn-primary btn-sm">
                                                <i class="fas fa-external-link-alt"></i> เปิด
                                            </a>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title text-maroon">เอกสารรับรองการขอฝึกงาน</h3>
                                    </div>
                                
                                    <div class="card-body">
                                        <object data="https://sac.kku.ac.th/kmsac/word/w5.pdf" type="application/pdf" width="100%" height="760">
                                            เอกสารรับรองการขอฝึกงาน : <a href="https://sac.kku.ac.th/kmsac/word/w5.pdf">เปิด</a>
                                        </object>
                                    </div>
        
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <a href="https://sac.kku.ac.th/kmsac/word/w5.pdf" target="_blank" class="btn btn-primary btn-sm">
                                                <i class="fas fa-external-link-alt"></i> เปิด
                                            </a>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- Post -->
                                <div class="post d-none">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="https://via.placeholder.com/128x128" alt="user image">
                                        <span class="username">
                                            <a href="#">Jonathan Burke Jr.</a>
                                            <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                                        </span>
                                        <span class="description">Shared publicly - 7:30 PM today</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                        Lorem ipsum represents a long-held tradition for designers,
                                        typographers and the like. Some people hate it and argue for
                                        its demise, but others ignore the hate as they create awesome
                                        tools to help create filler text for everyone from bacon lovers
                                        to Charlie Sheen fans.
                                    </p>
        
                                    <p>
                                        <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                                        <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                                        <span class="float-right">
                                            <a href="#" class="link-black text-sm">
                                                <i class="far fa-comments mr-1"></i> Comments (5)
                                            </a>
                                        </span>
                                    </p>
        
                                    <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                                </div>
                                <!-- /.post -->
        
                                <!-- Post -->
                                <div class="post d-none clearfix">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="https://via.placeholder.com/128x128" alt="User Image">
                                        <span class="username">
                                            <a href="#">Sarah Ross</a>
                                            <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                                        </span>
                                        <span class="description">Sent you a message - 3 days ago</span>
                                    </div>
                                    <!-- /.user-block -->
                                    <p>
                                        Lorem ipsum represents a long-held tradition for designers,
                                        typographers and the like. Some people hate it and argue for
                                        its demise, but others ignore the hate as they create awesome
                                        tools to help create filler text for everyone from bacon lovers
                                        to Charlie Sheen fans.
                                    </p>
        
                                    <form class="form-horizontal">
                                        <div class="input-group input-group-sm mb-0">
                                            <input class="form-control form-control-sm" placeholder="Response">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-danger">Send</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.post -->
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div>

    <div class="card-footer">
        <div class="text-right">
            <button class="btn btn-danger" ng-click="toListMode()">
                <i class="fa fa-caret-left"></i> กลับ
            </button>
            <button class="btn btn-primary" ng-click="requestSave()">
                <i class="fa fa-save"></i> บันทึก
            </button>
        </div>
    </div>
</div>