<div class="card">
    <div class="card-header">
        <h3 class="card-title text-maroon">ระบุเงื่อนไขการค้นหา</h3>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <labe l>วันที่</label>
                    <div class="input-group date" id="startDatePicker" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#startDatePicker" ng-model="criteria.startDate" />
                        <div class="input-group-append" data-target="#startDatePicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="text-right">
            <button class="btn btn-outline-success" ng-click="requestAdd()">
                <i class="fa fa-plus"></i> เพิ่มข้อมูล
            </button>
            <button class="btn btn-outline-primary" ng-click="search()">
                <i class="fa fa-search"></i> ค้นหา
            </button>
        </div>
    </div>
</div>