<div th:replace="core/admin-lte-3/workspace/hr/not_interview/script/table_controller"></div>
<!-- <div th:replace="core/admin-lte-3/workspace/hr/not_interview/script/cate_succe_controller"></div> -->
<script th:inline="javascript">
    app.controller("CandidateUserController", ["$scope", "$http", ($scope, $http) => {
        $scope.init = function() {
            tableController($scope, $http);
            // cate_success_Controller($scope, $http);
            $(".select2").select2({ theme: "bootstrap4" });
        }

        $scope.mode = "list";
        $scope.search_table = false;
        $scope.search_head;
        $scope.show_datapage;
        $scope.isQuestionVisible = false;
        $scope.isedit_success = false;
        $scope.addquest;
        $scope.entryMode = "add";
        $scope.showCardBody = false;
        $scope.showCardBody1 = false;
        $scope.showCardBody2 = false;

        $scope.toggleCardBody = function() {
            $scope.showCardBody = !$scope.showCardBody;
        };
        $scope.toggleCardBody1 = function() {
            $scope.showCardBody1 = !$scope.showCardBody1;
        };
        $scope.toggleCardBody2 = function() {
            $scope.showCardBody2 = !$scope.showCardBody2;
        };


        $scope.toggleShowQuestion = function() {
            $scope.isQuestionVisible = !$scope.isQuestionVisible;
        };

        $scope.editUser = function(user){
            $scope.mode = 'next1';
            $scope.show_datapage = user;
            console.log($scope.show_datapage);
        }

        $scope.deleteUser = function(user){
            useRequestDelete(user)();
            // useRequestSave(user)();
        }

        $scope.request_success = function(){
            useRequestSave()();
        }

        $scope.non_success_user = function(){
            $scope.mode = 'list';
        }


        function useRequestDelete(user){
            return () => {
                const options = {
                    title: "ยืนยันการลบข้อมูล",
                    text: 'พิมพ์คำว่า "Confirm" และ กดปุ่ม "ตกลง" เพื่อยืนยัน',
                    content: "input",
                    icon: "warning",
                    buttons: ["ยกเลิก", "ตกลง"],
                    dangerMode: true
                };

                swal(options)
                .then(value => {
                    if (value === "Confirm") {
                        // $scope.removeTeacher(teacherProfile);
                        console.log(user);
                        console.log("ลบสำเร็จ");
                    } else {
                        swal("คุณพิมพ์ไม่ถูกต้อง", "ยกเลิกการลบข้อมูล", "error");
                    }
                });
            };
        }

        function useRequestSave() {
            return () => {
            if (useVerify()) {
                const options = {
                title:
                    $scope.entryMode === "add"
                    ? "ยืนยันการบันทึกข้อมูล ?"
                    : "ยืนยันการแก้ไขข้อมูล",
                text: 'กดปุ่ม "ตกลง" เพื่อยืนยัน',
                icon: "warning",
                buttons: ["ยกเลิก", "ตกลง"],
                dangerMode: true,
                };
                const handler = (confirm) => {
                    if (confirm) {
                        // $scope.setupTeacherSubjectMapper($scope.selectedTeacherProfile);
                        console.log('hello',$scope.show_datapage);
                        $scope.mode = 'list';
                        $scope.$apply();
                    }
                };
                swal(options).then(handler);
            } else {
                swal("ข้อมูลไม่ครบถ้วน", "กรุณาระบุข้อมูลให้ครบถ้วน", "error");
            }
            };
        }

        function useVerify() {
            return () => {
                if ( true) {
                    return true;
                }
            };
        }


    }
    ]);
</script>