<div class="row">
    <div class="col-md-12">
        <!-- card-body -->
        <div class="card kws-card-border-top-dark">
            <!-- card-header -->
            <div class="card-header">
                <h5 class="card-title text-maroon">เมนู 90% First Jobber</h5>
            </div>
            <!-- /.card-header -->

            <!-- card-body -->
            <div class="card-body">
                <div class="row">
                    
                    <div class="col-lg-3 col-md-4">
                        <a th:href="@{/views/workspace/firstjobber/database/dashboard}" class="kws-app-menu-wrapper">
                            <div class="info-box mb-3 bg-indigo">
                                <span class="info-box-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Database</span>
                                    <span class="info-box-number">ฐานข้อมูล</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 kws-app-menu-wrapper">
                        <a th:href="@{/views/workspace/firstjobber/internship/dashboard}" class="kws-app-menu-wrapper">
                            <div class="info-box mb-3 bg-danger">
                                <span class="info-box-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Internship</span>
                                    <span class="info-box-number">นักศึกษาฝึกงาน</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 kws-app-menu-wrapper">
                        <a th:href="@{/views/workspace/firstjobber/freelance/dashboard}" class="kws-app-menu-wrapper">
                            <div class="info-box mb-3 bg-gradient-navy">
                                <span class="info-box-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Freelance</span>
                                    <span class="info-box-number">ฟรีแลนซ์</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 kws-app-menu-wrapper">
                        <a th:href="@{/views/workspace/firstjobber/employer/dashboard}" class="kws-app-menu-wrapper">
                            <div class="info-box mb-3 bg-orange">
                                <span class="info-box-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Company / Client</span>
                                    <span class="info-box-number">บริษัท / ลูกค้า</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 kws-app-menu-wrapper">
                        <a th:href="@{/views/workspace/firstjobber/stats/dashboard}" class="kws-app-menu-wrapper">
                            <div class="info-box mb-3 bg-warning">
                                <span class="info-box-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Statistics</span>
                                    <span class="info-box-number">สถิติ - ข้อมูล</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-4 kws-app-menu-wrapper">
                        <a th:href="@{/views/workspace/firstjobber/report/dashboard}" class="kws-app-menu-wrapper">
                            <div class="info-box mb-3 bg-success">
                                <span class="info-box-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Report</span>
                                    <span class="info-box-number">รายงาน</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    <!--
                    <div class="col-lg-3 col-md-4 kws-app-menu-wrapper">
                        <a th:href="@{/views/workspace/eziiwork/dashboard}" class="kws-app-menu-wrapper">
                            <div class="info-box mb-3 bg-maroon">
                                <span class="info-box-icon">
                                    <i class="fas fa-tachometer-alt"></i>
                                </span>
                                <div class="info-box-content">
                                    <span class="info-box-text">YX</span>
                                    <span class="info-box-number">Why Expensive</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    -->
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>