<div
  th:replace="core/admin-lte-3/workspace/hr/candidate/script/category2-controller"
></div>
<div
  th:replace="core/admin-lte-3/workspace/hr/candidate/script/category-controller"
></div>

<script th:inline="javascript">
  app.controller("CandidateUserController", [
    "$scope",
    "$http",
    ($scope, $http) => {
      $scope.prefix = [
        { id: "001", name: "นาย" },
        { id: "002", name: "นาง" },
        { id: "003", name: "นางสาว" },
        { id: "004", name: "อื่นๆ" },
      ];
      $scope.selectedEmployeeProfile;
      $scope.entryMode = "add";
      $scope.isLoading = false;
      $scope.criteria = {};
      $scope.mode = "list"; // ["list", "entry" , "next2"]
      $scope.read = "close";
      $scope.category = ""; // (พนักงาน,ครูFishsix,ครูESC,Scout)
      $scope.isShowDriveError = false;

      $scope.clickcategory = false;
      $scope.clickcategory1 = false;
      $scope.clickcategory2 = false;
      $scope.clickcategory3 = false;

      $scope.isButtonClicked = function (buttonIndex) {
        return $scope.clickedButton === buttonIndex;
      };

      $scope.init = function () {
        usecategoryController($scope, $http);
        usecategory2Controller($scope, $http);
        $(".select2").select2({ theme: "bootstrap4" });
      };

      $scope.checkdrive = function() {
        if (
          $scope.criteria.car_license === true ||
          $scope.criteria.car_not_license === true ||
          $scope.criteria.moto_license === true ||
          $scope.criteria.moto_not_license === true ||
          $scope.criteria.not_drive === true ||
          $scope.criteria.drive_other === true
        ) {
          $scope.isShowDriveError = false;
        } else {
          $scope.isShowDriveError = true;
        }
      };
      
      // function checkdrive() {
      //   if (
      //     $scope.criteria.car == true ||
      //     $scope.criteria.car_not == true ||
      //     $scope.criteria.drive_other == true
      //   ) {
      //     return ($scope.isShowDriveError = false);
      //   } else {
      //     return ($scope.isShowDriveError = true);
      //   }
      // }

      $scope.changeMessage = function (a) {
        if (a == 1) {
          $scope.message = employee();
          $scope.criteria.category = "พนักงาน";
          $scope.clickcategory1 = false;
          $scope.clickcategory2 = false;
          $scope.clickcategory3 = false;
        } else if (a == 2) {
          $scope.message = Fishsix();
          $scope.criteria.category = "ครูFishsix";
          $scope.clickcategory = false;
          $scope.clickcategory2 = false;
          $scope.clickcategory3 = false;
        } else if (a == 3) {
          $scope.message = Esc();
          $scope.criteria.category = "ครูESC";
          $scope.clickcategory = false;
          $scope.clickcategory1 = false;
          $scope.clickcategory3 = false;
        } else if (a == 4) {
          $scope.message = Scout();
          $scope.criteria.category = "Scout";
          $scope.clickcategory = false;
          $scope.clickcategory1 = false;
          $scope.clickcategory2 = false;
        } else {
          $scope.criteria.category = "";
        }

        // เปลี่ยนค่า read เมื่อมีปุ่มถูกคลิก
        $scope.read = "close";

        // ตรวจสอบว่ามีปุ่มที่อยู่ในสถานะเปิดหรือไม่
        var anyButtonOpen =
          $scope.clickcategory ||
          $scope.clickcategory1 ||
          $scope.clickcategory2 ||
          $scope.clickcategory3;

        // หากไม่มีปุ่มใดเปิดอยู่ให้เปลี่ยนค่า read เป็น "close"
        if (!anyButtonOpen) {
          $scope.read = "open";
        }
      };

      $scope.nextpage2 = function () {
        $scope.mode = "next2";
        $scope.Cvalue();
      };

      $scope.sum = function () {
        $scope.Cvalue();
        $scope.checkdrive();
      };

      $scope.Cvalue = function () {
        setTimeout(() => {
          $scope.$apply();
        }, 0);
      };
    },
  ]);
</script>

<style>
  .font-bg {
    font-size: 50px;
  }
  .btn[disabled] {
    background-color: #dddddd; /* กำหนดสีเทาที่คุณต้องการ */
    color: #888888; /* กำหนดสีตัวอักษรที่คุณต้องการ */
  }
  .red-asterisk {
    color: red;
  }
  button.btn {
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
</style>
