<div ng-show="mode === 'entry'" class="card">
    <div class="card-header">
        <h3 class="card-title text-maroon">เพิ่ม/แก้ไขข้อมูลคณะวิชา</h3>
    </div>

    <div class="card-body">
        <div class="row mb-4">
            <div class="col-md-12 text-center">
                <img class="img-size-60 img-fluid" ng-src="{{ selectedEducationFaculty.logoImageURI }}" />
            </div>
        </div>

        <form name="educationFacultyForm" class="form row" novalidate>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span class="text-danger">*</span>
                        <span ng-show="!isShowNameError()">ชื่อคณะวิชา</span>
                        <span class="text-danger" ng-show="isShowNameError()">ชื่อคณะวิชา</span>
                    </label>
                    <input name="name" type="text" class="form-control" ng-class="{'is-invalid': isShowNameError()}" placeholder="ระบุชื่อคณะวิชา" ng-model="selectedEducationFaculty.name" required>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>
                        <span>รายละเอียด</span>
                    </label>
                    <textarea name="description" rows="5" class="form-control" placeholder="ระบุรายละเอียด" ng-model="selectedEducationFaculty.description"></textarea>
                </div>
            </div>
        </form>
    </div>

    <div class="card-footer">
        <div class="text-right">
            <button class="btn btn-outline-danger" ng-click="toListMode()">
                <i class="fa fa-caret-left"></i> กลับ
            </button>
            <button class="btn btn-outline-primary" ng-click="requestSave()">
                <i class="fa fa-save"></i> บันทึก
            </button>
        </div>
    </div>
</div>