<div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="mediaModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediaModalTitle">สื่อการสอน</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div ng-show="mediaMode === 'list'">
                    <div class="text-right">
                        <button type="button" class="btn btn-outline-success" ng-click="requestAddMedia()">
                            <i class="fas fa-plus"></i> เพิ่มสื่อการสอน
                        </button>
                    </div>
    
                    <br>
    
                    <div class="table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th style="width: 20%;">ประเภท</th>
                                    <th style="width: 30%;">ชื่อไฟล์/วีดีโอ</th>
                                    <th>รายละเอียด</th>
                                    <th class="text-center" style="width: 64px;">Action</th>
                                </tr>
                            </thead>
                    
                            <tbody ng-show="selectedChapter.medias.length > 0">
                                <tr ng-repeat="media in selectedChapter.medias | orderBy: 'seqNo' track by $index">
                                    <td class="align-top">
                                        <select class="form-control form-control-sm" disabled ng-model="media.mediaType">
                                            <option value="Video">Video Link</option>
                                            <option value="Document">เอกสาร (PDF)</option>
                                        </select>
                                    </td>

                                    <td class="align-top">
                                        <input type="text" class="form-control form-control-sm" disabled ng-model="media.title">
                                    </td>

                                    <td class="align-top">
                                        <textarea rows="3" class="form-control" ng-model="media.description" disabled>
                                        </textarea>
                                    </td>

                                    <td class="text-center align-top">
                                        <button class="btn btn-sm btn-outline-warning" ng-click="requestEditMedia(media)" title="แก้ไขข้อมูล">
                                            <i class="fa fa-edit kws-table-action-icon"></i>
                                        </button>
                                        <button class="btn btn-sm btn-outline-danger" ng-click="requestRemoveMedia(media)" title="ลบข้อมูล">
                                            <i class="fa fa-trash kws-table-action-icon"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                    
                            <tfoot ng-show="selectedChapter.medias.length === 0">
                                <tr>
                                    <td class="text-center text-orange" colspan="4">--- ไม่มีข้อมูล ---</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div ng-show="mediaMode === 'entry'">
                    <form name="mediaForm" class="form row" novalidate>
                        <div class="col-md-6">
                            <div class="form-group border rounded p-2">
                                <label>
                                    <span class="text-danger">*</span>
                                    <span ng-show="!isShowMediaTypeError()">ประเภท</span>
                                    <span class="text-danger" ng-show="isShowMediaTypeError()">กรุณาเลือกประเภท</span>
                                </label>
                                <select name="mediaType" class="form-control form-control-sm" ng-model="selectedMedia.mediaType">
                                    <option value="" selected disabled>--- กรุณาเลือกประเภท ---</option>
                                    <option value="Video">Video Link</option>
                                    <option value="Document">เอกสาร (PDF)</option>
                                </select>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group border rounded p-2">
                                <label>
                                    <span class="text-danger">*</span>
                                    <span ng-show="!isShowMediaTitleError()">ชื่อไฟล์/วีดีโอ</span>
                                    <span class="text-danger" ng-show="isShowMediaTitleError()">กรุณาระบุชื่อไฟล์/วีดีโอ</span>
                                </label>
                                <input 
                                    name="title" 
                                    type="text" 
                                    class="form-control" 
                                    ng-class="{'is-invalid': isShowMediaTitleError()}" 
                                    placeholder="ระบุชื่อไฟล์/วีดีโอ" 
                                    ng-model="selectedMedia.title" 
                                    required>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group border rounded p-2">
                                <label>
                                    <span class="text-danger">*</span>
                                    <span ng-show="!isShowMediaDescriptionError()">รายละเอียด</span>
                                    <span class="text-danger" ng-show="isShowMediaDescriptionError()">กรุณาระบุรายละเอียด</span>
                                </label>
                                <textarea 
                                    name="description" 
                                    rows="5" 
                                    class="form-control" 
                                    ng-class="{'is-invalid': isShowMediaDescriptionError()}" 
                                    placeholder="ระบุรายละเอียดเนื้อหา" 
                                    ng-model="selectedMedia.description" 
                                    required>
                                </textarea>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group border rounded p-2">
                                <label>
                                    <span>หมายเหตุ</span>
                                </label>
                                <textarea 
                                    name="remark" 
                                    rows="5" 
                                    class="form-control" 
                                    placeholder="ระบุหมายเหตุ" 
                                    ng-model="selectedMedia.remark">
                                </textarea>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div ng-show="selectedMedia.mediaType === 'Video'" class="form-group">
                                <label>
                                    <span>วีดีโอลิงค์</span>
                                </label>
                                <input  name="mediaLink" 
                                        type="text" 
                                        class="form-control form-control-sm" 
                                        ng-model="selectedMedia.mediaSourceURI">
                            </div>
                            
                            <div ng-show="selectedMedia.mediaType === 'Document'" class="form-group">
                                <label>
                                    <span>อัพโหลดไฟล์ (PDF)</span>
                                </label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input  name="mediaFile"
                                                type="file" 
                                                class="custom-file-input media-file" 
                                                ng-model="selectedMedia.file" 
                                                accept="application/pdf">
                                        <label ng-show="!selectedMedia.file" class="custom-file-label">--- อัพโหลดไฟล์ (PDF) ---</label>
                                        <label ng-show="selectedMedia.file" class="custom-file-label">{{ selectedMedia.file.name }}</label>
                                    </div>
                                    <div class="input-group-append">
                                        <button ng-show="selectedMedia.file" class="btn btn-danger" ng-click="removeMediaFile(selectedMedia)">
                                            <i class="fas fa-trash"></i> ลบ
                                        </button>
                                        <button ng-show="selectedMedia.mediaSourceURL" class="btn btn-info" ng-click="openMediaSourceFile(selectedMedia)">
                                            <i class="far fa-folder-open"></i> เปิด
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">ปิด</button>
                <button ng-show="mediaMode === 'entry'" type="button" class="btn btn-outline-info" ng-click="toMediaListMode()">กลับ</button>
                <button ng-show="mediaMode === 'entry'" type="button" class="btn btn-outline-primary" ng-click="saveMedia()">บันทึก</button>
            </div>
        </div>
    </div>
</div>