<!-- --------------------------ข้อมูลส่วนตัว--------------------------------- -->
<div class="card mx-5">
  <div class="card-header">
    <h3 class="card-title px-3">ข้อมูลส่วนตัว</h3>
  </div>

  <div class="card-body px-5">
    <br />
    <form name="employeeForm" class="form row" novalidate>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <span class="text-danger">*</span>
              <span ng-show="!isShowTypeNameError()">คำนำหน้า</span>
              <span class="text-danger" ng-show="isShowTypeNameError()">กรุณาระบุคำนำหน้า</span>
            </label>
            <select name="typeName" class="form-control" style="width: 100%"
              ng-class="{'is-invalid': isShowTypeNameError()}" ng-model="selectedEmployeeProfile.typeName" required>
              <option value="" disabled selected hidden>
                --- กรุณาเลือก ---
              </option>
              <option ng-repeat="prefix in prefix | orderBy: 'name'" ng-value="prefix.name">
                {{ prefix.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>
              <span class="text-danger">*</span>
              <span ng-show="!isShowFirstNameError()">ชื่อ-นามสกุล (ภาษาไทยเท่านั้น)</span>
              <span class="text-danger" ng-show="isShowFirstNameError()">กรุณาระบุชื่อ-นามสกุล (ภาษาไทยเท่านั้น)</span>
            </label>
            <input name="firstName" type="text" class="form-control" ng-class="{'is-invalid': isShowFirstNameError()}"
              placeholder="ระบุชื่อ-นามสกุล" ng-model="selectedEmployeeProfile.firstName" pattern="[ก-๙\s]+" required />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>
              <span class="text-danger">*</span>
              <span ng-show="!isShowNickNameError()">ชื่อเล่น (ภาษาไทยเท่านั้น)</span>
              <span class="text-danger" ng-show="isShowNickNameError()">กรุณาระบุชื่อเล่น (ภาษาไทยเท่านั้น)</span>
            </label>
            <input name="nickName" type="text" class="form-control" ng-class="{'is-invalid': isShowNickNameError()}"
              placeholder="ระบุชื่อเล่น" ng-model="selectedEmployeeProfile.nickName" pattern="[ก-๙\s]+" required />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>
              <span class="text-danger">*</span>
              <span ng-show="!isShowPhoneError()">เบอร์โทรศัพท์</span>
              <span class="text-danger" ng-show="isShowPhoneError()">เบอร์โทรศัพท์ต้องประกอบด้วยตัวเลข 10 หลัก</span>
            </label>
            <input name="phone" type="text" class="form-control" ng-class="{'is-invalid': isShowPhoneError()}"
              placeholder="ระบุเบอร์โทรศัพท์" ng-model="selectedEmployeeProfile.phone" ng-pattern="/^[0-9]{10}$/"
              ng-required="true" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>
              <span class="text-danger">*</span>
              <span ng-show="!isShowOldError()">อายุ</span>
              <span class="text-danger" ng-show="isShowOldError()">กรุณาระบุอายุ</span>
            </label>
            <input name="old" type="number" class="form-control" ng-class="{'is-invalid': isShowOldError()}"
              placeholder="ระบุอายุ" ng-model="selectedEmployeeProfile.old" required />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>
              <span class="text-danger">*</span>
              <span ng-show="!isShowLocationError()">ที่อยู่ปัจจุบัน</span>
              <span class="text-danger" ng-show="isShowLocationError()">กรุณาระบุที่อยู่ปัจจุบัน</span>
            </label>
            <input name="location" type="text" class="form-control" ng-class="{'is-invalid': isShowLocationError()}"
              placeholder="ระบุที่อยู่ปัจจุบัน" ng-model="selectedEmployeeProfile.location" required />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>
              <span class="text-danger">*</span>
              <span ng-show="!isShowLineError()">ชื่อ Line (Line ที่ใช้แอดกับทางบริษัท)</span>
              <span class="text-danger" ng-show="isShowLineError()">กรุณาระบุชื่อ Line</span>
            </label>
            <input name="line" type="text" class="form-control" ng-class="{'is-invalid': isShowLineError()}"
              placeholder="ระบุชื่อ Line" ng-model="selectedEmployeeProfile.line" required />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>
              <span class="text-danger">*</span>
              <span ng-show="!isShowFacebookError()">ชื่อ Facebook</span>
              <span class="text-danger" ng-show="isShowFacebookError()">กรุณาระบุชื่อ Facebook</span>
            </label>
            <input name="facebook" type="text" class="form-control" ng-class="{'is-invalid': isShowFacebookError()}"
              placeholder="ระบุ Facebook" ng-model="selectedEmployeeProfile.facebook" required />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>
              <span class="text-danger">*</span>
              <span ng-show="!isShowNationalityError()">สัญชาติ</span>
              <span class="text-danger" ng-show="isShowNationalityError()">กรุณาระบุสัญชาติ</span>
            </label>
            <input name="nationality" type="text" class="form-control"
              ng-class="{'is-invalid': isShowNationalityError()}" placeholder="ระบุสัญชาติ"
              ng-model="selectedEmployeeProfile.nationality" required />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>
              <span class="text-danger">*</span>
              <span ng-show="!isShowEthnicityError()">เชื้อชาติ</span>
              <span class="text-danger" ng-show="isShowEthnicityError()">กรุณาระบุเชื้อชาติ</span>
            </label>
            <input name="ethnicity" type="text" class="form-control" ng-class="{'is-invalid': isShowEthnicityError()}"
              placeholder="ระบุเชื้อชาติ" ng-model="selectedEmployeeProfile.ethnicity" required />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>
              <span class="text-danger">*</span>
              <span ng-show="!isShowLineIdError()">Line ID สำหรับติดต่อประสานงาน และส่งข้อมูลเพิ่มเติม</span>
              <span class="text-danger" ng-show="isShowLineIdError()">กรุณาระบุ Line ID สำหรับติดต่อประสานงาน</span>
            </label>
            <input name="lineID" type="text" class="form-control" ng-class="{'is-invalid': isShowLineIdError()}"
              placeholder="ระบุชื่อ LineID" ng-model="selectedEmployeeProfile.lineID" required />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>
              <span class="text-danger">*</span>
              <span ng-show="!isShowWishesError()">งานอดิเรก/สิ่งที่สนใจเป็นพิเศษ</span>
              <span class="text-danger" ng-show="isShowWishesError()">กรุณาระบุงานอดิเรก/สิ่งที่สนใจเป็นพิเศษ</span>
            </label>
            <input name="wishes" type="text" class="form-control" ng-class="{'is-invalid': isShowWishesError()}"
              placeholder="ระบุงานอดิเรก/สิ่งที่สนใจเป็นพิเศษ" ng-model="selectedEmployeeProfile.wishes" required />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>
              <span class="text-danger">*</span>
              <span ng-show="!isShowIndtypeError()">ประเภทบุคคล</span>
              <span class="text-danger" ng-show="isShowIndtypeError()">กรุณาเลือกประเภทบุคคล</span>
            </label>
            <select name="indtype" class="form-control" style="width: 100%"
              ng-class="{'is-invalid': isShowIndtypeError()}" ng-model="selectedEmployeeProfile.indtype" required>
              <option value="" disabled selected hidden>
                --- กรุณาเลือก ---
              </option>
              <option ng-repeat="prefix in prefix | orderBy: 'name'" ng-value="prefix.name">
                {{ prefix.name }}
              </option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>
              <span class="text-danger">*</span>
              <span ng-show="!isShowSickError()">คุณมีอาการดังนี้ หรือไม่</span>
              <span class="text-danger" ng-show="isShowSickError()">กรุณาเลือกประเภทอาการ</span>
            </label>
            <select name="sick" class="form-control" style="width: 100%" ng-class="{'is-invalid': isShowSickError()}"
              ng-model="selectedEmployeeProfile.sick" required>
              <option value="" disabled selected hidden>
                --- กรุณาเลือก ---
              </option>
              <option ng-repeat="prefix in prefix | orderBy: 'name'" ng-value="prefix.name">
                {{ prefix.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>

  <form name="employeeForm2" class="form row" novalidate>
    <div class="col-md-6 px-5">
      <label>
        <span class="text-danger">*</span>
        <span ng-show="!isShowDriveError">ขับรถอะไรได้บ้าง</span>
        <span class="text-danger" ng-show="isShowDriveError">กรุณาระบุประเภทรถที่ขับ</span>
      </label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" ng-model="criteria.car_license" ng-change="checkdrive()"
          required />
        <label class="form-check-label">ขับรถยนต์ได้ / มีใบขับขี่</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" ng-model="criteria.car_not_license" ng-change="checkdrive()"
          required />
        <label class="form-check-label">ขับรถยนต์ได้ / ไม่มีใบขับขี่</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" ng-model="criteria.moto_license" ng-change="checkdrive()"
          required />
        <label class="form-check-label">ขับมอเตอร์ไซด์ได้ / มีใบขับขี่</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" ng-model="criteria.moto_not_license" ng-change="checkdrive()"
          required />
        <label class="form-check-label">ขับมอเตอร์ไซด์ได้ / ไม่มีใบขับขี่</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" ng-model="criteria.not_drive" ng-change="checkdrive()"
          required />
        <label class="form-check-label">ขับรถไม่เป็น</label>
      </div>
      <div class="form-check mb-5">
        <input class="form-check-input" type="checkbox" ng-model="criteria.drive_other" ng-change="checkdrive()"
          required />
        <label class="form-check-label">อื่นๆ</label>
      </div>
    </div>
  </form>
</div>

<!-- --------------------------ข้อมูลการศึกษา--------------------------------- -->
<div class="card mx-5">
  <div class="card-header">
    <h3 class="card-title px-3">ข้อมูลการศึกษา</h3>
  </div>
  <div class="card-body mx-4">
    <br />
    <form name="employeeForm3" class="form row" novalidate>
      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowCurrentEducationError()">สถาบันการศึกษามัธยมปลาย</span>
            <span class="text-danger" ng-show="isShowCurrentEducationError()">กรุณาระบุสถาบันการศึกษามัธยมปลาย</span>
          </label>
          <input name="current_education" type="text" class="form-control"
            ng-class="{'is-invalid': isShowCurrentEducationError()}" placeholder="ระบุสถาบันการศึกษามัธยมปลาย"
            ng-model="selectedEmployeeProfile.current_education" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowCurrentBachelorEducationError()">สาขาวิชา</span>
            <span class="text-danger" ng-show="isShowCurrentBachelorEducationError()">กรุณาระบุสาขาวิชา</span>
          </label>
          <input name="current_bachelor_education" type="text" class="form-control"
            ng-class="{'is-invalid': isShowCurrentBachelorEducationError()}" placeholder="ระบุสาขาวิชา"
            ng-model="selectedEmployeeProfile.current_bachelor_education" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowGradeHighschoolError()">เกรดเฉลี่ย</span>
            <span class="text-danger" ng-show="isShowGradeHighschoolError()">กรุณาระบุเกรดเฉลี่ย</span>
          </label>
          <input name="grade_highschool" type="number" class="form-control"
            ng-class="{'is-invalid': isShowGradeHighschoolError()}" placeholder="ระบุเกรดเฉลี่ย"
            ng-model="selectedEmployeeProfile.grade_highschool" required />
        </div>
      </div>

      <div class="col-md-6"></div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span>สถาบันการศึกษาปวช/ปวส</span>
          </label>
          <input name="academy_vocational_education" type="text" class="form-control"
            placeholder="ระบุสถาบันการศึกษาปวช/ปวส" ng-model="selectedEmployeeProfile.academy_vocational_education" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span>สาขาวิชา</span>
          </label>
          <input name="major_vocational_education" type="text" class="form-control" placeholder="ระบุสาขาวิชา"
            ng-model="selectedEmployeeProfile.major_vocational_education" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span>เกรดเฉลี่ย</span>
          </label>
          <input name="grade_vocational_education" type="number" class="form-control" placeholder="ระบุเกรดเฉลี่ย"
            ng-model="selectedEmployeeProfile.grade_vocational_education" />
        </div>
      </div>

      <div class="col-md-6"></div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowAcademyBachelorDegreeError()">สถาบันการศึกษาปริญญาตรี</span>
            <span class="text-danger"
              ng-show="isShowAcademyBachelorDegreeError()">กรุณาระบุสถาบันการศึกษาปริญญาตรี</span>
          </label>
          <input name="academy_bachelor_degree" type="text" class="form-control"
            ng-class="{'is-invalid': isShowAcademyBachelorDegreeError()}" placeholder="ระบุสถาบันการศึกษาปริญญาตรี"
            ng-model="selectedEmployeeProfile.academy_bachelor_degree" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowMajorBachelorDegreeError()">สาขาวิชา</span>
            <span class="text-danger" ng-show="isShowMajorBachelorDegreeError()">กรุณาระบุสาขาวิชา</span>
          </label>
          <input name="major_bachelor_degree" type="text" class="form-control"
            ng-class="{'is-invalid': isShowMajorBachelorDegreeError()}" placeholder="ระบุสาขาวิชา"
            ng-model="selectedEmployeeProfile.major_bachelor_degree" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowGradeBachelorDegreeError()">เกรดเฉลี่ย</span>
            <span class="text-danger" ng-show="isShowGradeBachelorDegreeError()">กรุณาระบุเกรดเฉลี่ย</span>
          </label>
          <input name="grade_bachelor_degree" type="number" class="form-control"
            ng-class="{'is-invalid': isShowGradeBachelorDegreeError()}" placeholder="ระบุเกรดเฉลี่ย"
            ng-model="selectedEmployeeProfile.grade_bachelor_degree" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span>สถาบันการศึกษาปริญญาโท</span>
          </label>
          <input name="academy_master_degree" type="text" class="form-control" placeholder="ระบุสถาบันการศึกษาปริญญาโท"
            ng-model="selectedEmployeeProfile.academy_master_degree" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span>สาขาวิชา</span>
          </label>
          <input name="major_master_degree" type="text" class="form-control" placeholder="ระบุสาขาวิชา"
            ng-model="selectedEmployeeProfile.major_master_degree" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span>เกรดเฉลี่ย</span>
          </label>
          <input name="grade_master_degree" type="number" class="form-control" placeholder="ระบุเกรดเฉลี่ย"
            ng-model="selectedEmployeeProfile.grade_master_degree" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span>สถาบันการศึกษาปริญญาเอก</span>
          </label>
          <input name="academy_PhD" type="text" class="form-control" placeholder="ระบุสถาบันการศึกษาปริญญาเอก"
            ng-model="selectedEmployeeProfile.academy_PhD" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span>สาขาวิชา</span>
          </label>
          <input name="major_PhD" type="text" class="form-control" placeholder="ระบุสาขาวิชา"
            ng-model="selectedEmployeeProfile.major_PhD" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span>เกรดเฉลี่ย</span>
          </label>
          <input name="grade_PhD" type="number" class="form-control" placeholder="ระบุเกรดเฉลี่ย"
            ng-model="selectedEmployeeProfile.grade_PhD" />
        </div>
      </div>

      <div class="col-md-6"></div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowCollegeActivitiesError()">ประสบการณ์ทำกิจกรรมในมหาวิทยาลัย</span>
            <span class="text-danger"
              ng-show="isShowCollegeActivitiesError()">กรุณาระบุประสบการณ์ทำกิจกรรมในมหาวิทยาลัย</span>
          </label>
          <input name="college_activities" type="text" class="form-control"
            ng-class="{'is-invalid': isShowCollegeActivitiesError()}" placeholder="ระบุประสบการณ์ทำกิจกรรมในมหาวิทยาลัย"
            ng-model="selectedEmployeeProfile.college_activities" required />
        </div>
      </div>
    </form>
  </div>
</div>

<!-- --------------------------รายละเอียดการสมัครงาน--------------------------------- -->
<div class="card mx-5">
  <div class="card-header">
    <h3 class="card-title px-3">รายละเอียดการสมัครงาน</h3>
  </div>
  <div class="card-body mx-4">
    <br />
    <form name="employeeForm4" class="form row" novalidate>
      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowJobPosition1Error()">ตำแหน่งงานที่ท่านสนใจสมัครตำแหน่งที่ 1</span>
            <span class="text-danger" ng-show="isShowJobPosition1Error()">กรุณาเลือกตำแหน่งงานที่ท่านสนใจสมัครตำแหน่งที่
              1</span>
          </label>
          <select name="job_position1" class="form-control" style="width: 100%"
            ng-class="{'is-invalid': isShowJobPosition1Error()}" ng-model="selectedEmployeeProfile.job_position1"
            required>
            <option value="" disabled selected hidden>กรุณาเลือก</option>
            <option ng-repeat="prefix in prefix | orderBy: 'name'" ng-value="prefix.name">
              {{ prefix.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowBusiness1Error()">สังกัดธุรกิจ</span>
            <span class="text-danger" ng-show="isShowBusiness1Error()">สังกัดธุรกิจ</span>
          </label>
          <select name="business1" class="form-control" style="width: 100%"
            ng-class="{'is-invalid': isShowBusiness1Error()}" ng-model="selectedEmployeeProfile.business1" required>
            <option value="" disabled selected hidden>กรุณาเลือก</option>
            <option ng-repeat="prefix in prefix | orderBy: 'name'" ng-value="prefix.name">
              {{ prefix.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowJobPosition2Error()">ตำแหน่งงานที่ท่านสนใจสมัครตำแหน่งที่ 2</span>
            <span class="text-danger" ng-show="isShowJobPosition2Error()">กรุณาเลือกตำแหน่งงานที่ท่านสนใจสมัครตำแหน่งที่
              2</span>
          </label>
          <select name="job_position2" class="form-control" style="width: 100%"
            ng-class="{'is-invalid': isShowJobPosition2Error()}" ng-model="selectedEmployeeProfile.job_position2"
            required>
            <option value="" disabled selected hidden>กรุณาเลือก</option>
            <option ng-repeat="prefix in prefix | orderBy: 'name'" ng-value="prefix.name">
              {{ prefix.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowBusiness2Error()">สังกัดธุรกิจ</span>
            <span class="text-danger" ng-show="isShowBusiness2Error()">สังกัดธุรกิจ</span>
          </label>
          <select name="business2" class="form-control" style="width: 100%"
            ng-class="{'is-invalid': isShowBusiness2Error()}" ng-model="selectedEmployeeProfile.business2" required>
            <option value="" disabled selected hidden>กรุณาเลือก</option>
            <option ng-repeat="prefix in prefix | orderBy: 'name'" ng-value="prefix.name">
              {{ prefix.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowJobPosition3Error()">ตำแหน่งงานที่ท่านสนใจสมัครตำแหน่งที่ 3</span>
            <span class="text-danger" ng-show="isShowJobPosition3Error()">กรุณาเลือกตำแหน่งงานที่ท่านสนใจสมัครตำแหน่งที่
              3</span>
          </label>
          <select name="job_position3" class="form-control" style="width: 100%"
            ng-class="{'is-invalid': isShowJobPosition3Error()}" ng-model="selectedEmployeeProfile.job_position3"
            required>
            <option value="" disabled selected hidden>กรุณาเลือก</option>
            <option ng-repeat="prefix in prefix | orderBy: 'name'" ng-value="prefix.name">
              {{ prefix.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowBusiness3Error()">สังกัดธุรกิจ</span>
            <span class="text-danger" ng-show="isShowBusiness3Error()">สังกัดธุรกิจ</span>
          </label>
          <select name="business3" class="form-control" style="width: 100%"
            ng-class="{'is-invalid': isShowBusiness3Error()}" ng-model="selectedEmployeeProfile.business3" required>
            <option value="" disabled selected hidden>กรุณาเลือก</option>
            <option ng-repeat="prefix in prefix | orderBy: 'name'" ng-value="prefix.name">
              {{ prefix.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowWorkingStyleError()">รูปแบบการทำงานที่ต้องการ</span>
            <span class="text-danger" ng-show="isShowWorkingStyleError()">กรุณาเลือกรูปแบบการทำงานที่ต้องการ</span>
          </label>
          <select name="working_style" class="form-control" style="width: 100%"
            ng-class="{'is-invalid': isShowWorkingStyleError()}" ng-model="selectedEmployeeProfile.working_style"
            required>
            <option value="" disabled selected hidden>กรุณาเลือก</option>
            <option ng-repeat="prefix in prefix | orderBy: 'name'" ng-value="prefix.name">
              {{ prefix.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowEmployeeTypeError()">ประเภทพนักงาน</span>
            <span class="text-danger" ng-show="isShowEmployeeTypeError()">กรุณาเลือกประเภทพนักงาน</span>
          </label>
          <select name="employee_type" class="form-control" style="width: 100%"
            ng-class="{'is-invalid': isShowEmployeeTypeError()}" ng-model="selectedEmployeeProfile.employee_type"
            required>
            <option value="" disabled selected hidden>กรุณาเลือก</option>
            <option ng-repeat="prefix in prefix | orderBy: 'name'" ng-value="prefix.name">
              {{ prefix.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowExpectedSalaryError()">เงินเดือนที่คาดหวัง</span>
            <span class="text-danger" ng-show="isShowExpectedSalaryError()">กรุณาระบุเงินเดือนที่คาดหวัง</span>
          </label>
          <input name="expected_salary" type="text" class="form-control"
            ng-class="{'is-invalid': isShowExpectedSalaryError()}" placeholder="ระบุเงินเดือนที่คาดหวัง"
            ng-model="selectedEmployeeProfile.expected_salary" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowMinimumSalaryError()">เงินเดือนขั้นต่ำที่ท่านรับได้ที่สุด</span>
            <span class="text-danger"
              ng-show="isShowMinimumSalaryError()">กรุณาระบุเงินเดือนขั้นต่ำที่ท่านรับได้ที่สุด</span>
          </label>
          <input name="minimum_salary" type="text" class="form-control"
            ng-class="{'is-invalid': isShowMinimumSalaryError()}" placeholder="ระบุเงินเดือนขั้นต่ำที่ท่านรับได้ที่สุด"
            ng-model="selectedEmployeeProfile.minimum_salary" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowCurrentSalaryError()">เงินเดือน ณ ปัจจุปันที่ได้รับ</span>
            <span class="text-danger" ng-show="isShowCurrentSalaryError()">กรุณาระบุเงินเดือน ณ ปัจจุปันที่ได้รับ</span>
          </label>
          <input name="current_salary" type="text" class="form-control"
            ng-class="{'is-invalid': isShowCurrentSalaryError()}" placeholder="ระบุเงินเดือน ณ ปัจจุปันที่ได้รับ"
            ng-model="selectedEmployeeProfile.current_salary" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowCandidateStartdateError()">วันที่สะดวกเริ่มงาน</span>
            <span class="text-danger" ng-show="isShowCandidateStartdateError()">กรุณาระบุวันที่สะดวกเริ่มงาน</span>
          </label>
          <input name="candidate_startdate" type="date" class="form-control"
            ng-class="{'is-invalid': isShowCandidateStartdateError()}" placeholder="ระบุวันที่สะดวกเริ่มงาน"
            ng-model="selectedEmployeeProfile.candidate_startdate" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowLongevityError()">อายุงานของตำแหน่งที่สมัคร</span>
            <span class="text-danger" ng-show="isShowLongevityError()">กรุณาระบุอายุงานของตำแหน่งที่สมัคร</span>
          </label>
          <input name="longevity" type="text" class="form-control" ng-class="{'is-invalid': isShowLongevityError()}"
            placeholder="ระบุอายุงานของตำแหน่งที่สมัคร" ng-model="selectedEmployeeProfile.longevity" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowPerformanceError()">ผลงานที่เคยทำได้ (สอดคล้องกับตำแหน่งที่สมัคร)</span>
            <span class="text-danger" ng-show="isShowPerformanceError()">กรุณาระบุผลงานที่เคยทำได้
              (สอดคล้องกับตำแหน่งที่สมัคร)</span>
          </label>
          <input name="performance" type="text" class="form-control" ng-class="{'is-invalid': isShowPerformanceError()}"
            placeholder="ระบุผลงานที่เคยทำได้ (สอดคล้องกับตำแหน่งที่สมัคร)"
            ng-model="selectedEmployeeProfile.performance" required />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>
            <span class="text-danger">*</span>
            <span ng-show="!isShowJobPostingError()">ช่องทางที่เห็นประกาศรับสมัครงาน</span>
            <span class="text-danger" ng-show="isShowJobPostingError()">กรุณาเลือกช่องทางที่เห็นประกาศรับสมัครงาน</span>
          </label>
          <select name="job_posting" class="form-control" style="width: 100%"
            ng-class="{'is-invalid': isShowJobPostingError()}" ng-model="selectedEmployeeProfile.job_posting" required>
            <option value="" disabled selected hidden>กรุณาเลือก</option>
            <option ng-repeat="prefix in prefix | orderBy: 'name'" ng-value="prefix.name">
              {{ prefix.name }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- --------------------------เอกสารการสมัครงาน--------------------------------- -->
<div class="card mx-5">
  <div class="card-header">
    <h3 class="card-title px-3">เอกสารการสมัครงาน</h3>
  </div>
  <div class="card-body mx-4">
    <br />
    <form name="employeeForm5" class="form row" novalidate>

      <div class="col-md-6">
        <label>
          <span class="text-danger">*</span>
          <span ng-show="!isShowError()">CV / Resume</span>
          <span class="text-danger" ng-show="isShowIdCardFileError()">กรุณาอัพโหลดไฟล์ CV / Resume</span>
        </label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input idcard-file" />
            <label ng-show="!attachment.CvPdf" class="custom-file-label">อัพโหลดไฟล์</label>
            <label ng-show="attachment.CvPdf" class="custom-file-label">{{ attachment.CvPdf.name }}</label>
          </div>
          <div class="input-group-append">
            <button ng-show="attachment.CvPdf" class="btn btn-danger" ng-click="removeIdCardFile()">
              <i class="fas fa-trash"></i> ลบ
            </button>
          </div>
        </div>
        <div class="p-2"
          ng-show="attachment.CvPdf || (selectedEmployeeProfile.attachment && selectedEmployeeProfile.attachment.CvPdfURL)">
          <img ng-show="attachment.CvPdf" id="CvPdf" class="img-fluid" />
          <img ng-show="!attachment.CvPdf && selectedEmployeeProfile.attachment.CvPdfURL" id="CvPdf" class="img-fluid"
            ng-src="{{ selectedEmployeeProfile.attachment.CvPdfURL }}" />
        </div>
      </div>

      <div class="col-md-6">
        <label>
          <span class="text-danger">*</span>
          <span ng-show="!isShowError()">สำเนาบัตรปชช.</span>
          <span class="text-danger" ng-show="isShowIdCardFileError()">กรุณาอัพโหลดไฟล์สำเนาบัตรปชช.</span>
        </label>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input idcard-file" />
            <label ng-show="!attachment.idPdf" class="custom-file-label">--- อัพโหลดไฟล์ไฟล์สำเนาบัตรปชช.
              ---</label>
            <label ng-show="attachment.idPdf" class="custom-file-label">{{ attachment.idPdf.name }}</label>
          </div>
          <div class="input-group-append">
            <button ng-show="attachment.idPdf" class="btn btn-danger" ng-click="removeIdCardFile()">
              <i class="fas fa-trash"></i> ลบ
            </button>
          </div>
        </div>
        <div class="p-2"
          ng-show="attachment.idPdf || (selectedEmployeeProfile.attachment && selectedEmployeeProfile.attachment.idPdfURL)">
          <img ng-show="attachment.idPdf" id="idPdf" class="img-fluid" />
          <img ng-show="!attachment.idPdf && selectedEmployeeProfile.attachment.idPdfURL" id="idPdf" class="img-fluid"
            ng-src="{{ selectedEmployeeProfile.attachment.idPdfURL }}" />
        </div>
      </div>

    </form>
  </div>
</div>

<!-- --------------------------ชุดคำถามเชิงวิพากษ์ --------------------------------- -->
<div class="card mx-5">
  <div class="card-header">
    <h3 class="card-title px-3">ชุดคำถามเชิงวิพากษ์</h3>
  </div>
  <div class="card-body mx-4">
    <br />
    <form name="employeeForm6" class="form row" novalidate></form>
  </div>
</div>
<br />
<div class="text-right mx-5">
  <button class="btn btn-primary mb-5" ng-click="sum(); requestSave()">
    <i class="fa fa-search"></i> shows
  </button>
  <button class="btn btn-primary mb-5" ng-click="sum(); requestSave()">
    <i class="fa fa-search"></i> shows
  </button>
</div>